<!-- Banner expanded -->
<div class="col-md-12 banner">
    <div class="row">
        <!-- Header -->
        <div class="lending-banner-title">
            <div class="col-md-1">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                <span class="back-button-text" (click)="goBack()">Back</span>
            </div>

            <div class="col-md-10 banner-main-title">
                <i class="fa fa-chart-o" aria-hidden="true"></i> View GLMS Concession - {{concessionReferenceId}}
                <span class="label label-warning" style="float: right;">{{glmsConcession?.concession?.status}} - {{glmsConcession?.concession?.subStatus}}</span>
            </div>

            <div class="col-md-1"></div>
        </div>

        <!-- Dashboard Expanded -->
        <div class="col-md-12 banner-container" *ngIf="showHide">
            <div class="col-md-11">
                <div class="col-md-5">
                    <div class="subHeading">{{entityName}}</div>
                    <div class="date lightTitle hidden-element">{{entityNumber}}</div>

                </div>
            </div>
            <div class="col-md-1">
                <div class="compress">
                    <div>
                        <i class="fa fa-compress" (click)="showHide = !showHide" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard Collapsed -->
        <div class="col-md-12 banner-container" *ngIf="!showHide">
            <div class="col-md-11">
                <div>
                    <div class="col-md-5">
                        <div class="subHeading">{{entityName}}</div>
                        <div class="date lightTitle hidden-element">{{entityNumber}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="compress">
                    <div>
                        <i class="fa fa-expand" (click)="showHide = !showHide" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Error message -->
<div class="col-md-12" *ngIf="(errorMessage) && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-danger">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Error occurred. Please see error(s) below.</p>
            <p>{{errorMessage}}</p>

            <ul *ngIf="validationError">
                <li *ngFor="let validationMessage of validationError ">{{validationMessage}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Error message -->
<div class="col-md-12" *ngIf="(validationError) && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-danger">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Below errors requires your attention..</p>
            <p>{{errorMessage}}</p>

            <ul *ngIf="validationError">
                <li *ngFor="let validationMessage of validationError;">{{validationMessage}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Warning message -->
<div class="col-md-12" *ngIf="warningMessage && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-warning">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{warningMessage}}</p>
        </div>
    </div>
</div>

<!-- Success message -->
<div class="col-md-12" *ngIf="saveMessage && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-success">
            <p class="message-heading"><i class="fa fa-check-circle" aria-hidden="true"></i>Concession submitted successfully with ID: {{saveMessage}}</p>
        </div>
    </div>
</div>

<!-- Loading message -->
<div class="col-md-12" *ngIf="isLoading">
    <div class="form-feedback-container">
        <div class="alert-info">
            <p class="message-heading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>Saving</p>
        </div>
    </div>
</div>

<!-- Form entries -->
<form class="col-md-12 product-form" [formGroup]="glmsConcessionForm" *ngIf="!isLoading">
    <div class="col-md-4">

        <div class="row">
            <label>SMT Deal Number</label>
            <input class="form-control" formControlName="smtDealNumber" maxlength="16" [attr.disabled]="disableField('smtDealNumber')" />
        </div>

    </div>
    <div class="col-md-7 col-md-offset-1">
        <label>Motivation</label>
        <textarea class="form-control large-input" maxlength="800" formControlName="motivation" [attr.disabled]="disableField('motivation')"></textarea>
    </div>

    <!-- Concession table -->
    <div class="col-md-12" style="border-bottom: 1px solid gray; margin-bottom: 15px;">
        <div class="row">
            <h3 class="table-title">Concessions</h3>
            <button type="button" class="btn btn-primary btn-concession" (click)="addNewConcessionRow(true)" style="margin-top: 15px;" [attr.disabled]="disableField('concessions')" *ngIf="!saveMessage">New Concession</button>
        </div>
    </div>

    <!--New-->
    <table class="form-concessions-table" formArrayName="concessionItemRows">
        <thead class="form-concessions-table-headings">
            <tr>
                <th>Group #</th>
                <th>Interest Pricing Category</th>
                <th>Interest Type</th>
                <th>Slap Type</th>
                <th>Expiry Date</th>
                <th *ngIf="isApproved">Date Approved</th>
                <th *ngIf="canArchive"></th>
            </tr>
        </thead>
        <tbody class="form-concessions-table-content">
            <tr *ngFor="let itemrow of glmsConcessionForm.controls.concessionItemRows.controls; let i=index" [formGroupName]="i">
                <td class="length-long">
                    <!-- Group -->
                    <select formControlName="glmsGroup" class="form-control" [attr.disabled]="disableField('glmsGroup',i)">
                        <option *ngFor="let glmsGroupOption of glmsGroup" [ngValue]="glmsGroupOption">{{glmsGroupOption.groupNumber}}</option>
                    </select>
                </td>
                <td class="length-long">
                    <!-- Interest Pricing Category -->
                    <select formControlName="interestPricingCategory" class="form-control" [attr.disabled]="disableField('interestPricingCategory',i)">
                        <option *ngFor="let interestPricingCategoryOption of interestPricingCategory" [ngValue]="interestPricingCategoryOption">{{interestPricingCategoryOption.description}}</option>
                    </select>
                </td>
                <td class="length-short">
                    <!-- Interest Type -->
                    <select formControlName="interestType" class="form-control" [attr.disabled]="disableField('interestType',i)">
                        <option *ngFor="let interestTypeOption of interestType" [ngValue]="interestTypeOption"> {{interestTypeOption.description}}</option>
                    </select>
                </td>
                <td class="length-short">
                    <!-- Slab Type -->
                    <select formControlName="slabType" class="form-control" [attr.disabled]="disableField('slabType',i)">
                        <option *ngFor="let slabTypeOption of slabType" [ngValue]="slabTypeOption"> {{slabTypeOption.description}}</option>
                    </select>
                </td>
                <!-- expiry Date-->
                <td class="length-short"><input type="date" formControlName="expiryDate" class="form-control" [attr.disabled]="disableField('expiryDate',i)" /></td>
                <td class="length-short" *ngIf="isApproved"><input type="date" formControlName="dateApproved" class="form-control" /></td>

                <!--Tier information-->
                <td><button class="length-long btn btn-primary" (click)="openTier(manageTierModal.show(),i)" [attr.disabled]="disableField('addTier',i)">Add Tier</button></td>

                <td class="delete" *ngIf="canArchive">

                    <button *ngIf="glmsConcessionForm.controls.concessionItemRows.controls.length > 1" (click)="setSelectedConcessionDetail(itemrow.get('concessionDetailId').value); archiveConcessionModal.show()" class="btn-delete" title="Remove"><i class="fa fa-trash" aria-hidden="true" style="color:#920000"></i></button>
                </td>
                <td class="length-short" *ngIf="(canBcmApprove || canPcmApprove || isEditing || isRecalling ) && glmsConcessionForm.controls.concessionItemRows.controls.length > 1">

                    <button type="button" *ngIf="glmsConcessionForm.controls.concessionItemRows.controls.length > 1" (click)="deleteConcessionRow(i)" class="btn-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Conditions table -->
    <div class="col-md-12">
        <div class="row">
            <h3 class="table-title">Conditions</h3>
            <button type="button" class="btn btn-primary btn-concession" (click)="manageConditionsModal.show()" style="margin-top: 15px;" [attr.disabled]="disableField('manageConditions')" *ngIf="!saveMessage">Manage Conditions</button>

            <div class="table-container">
                <table class="table table-bordered table-hover header-fixed table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Condition Type</th>
                            <th>Product Type</th>
                            <th>Interest Rate</th>
                            <th>Volume</th>
                            <th>Value</th>
                            <th>Comment</th>
                            <th>Period</th>
                        </tr>
                    </thead>
                    <tbody class="secondary-text">
                        <tr *ngIf="glmsConcessionForm.controls.conditionItemsRows.controls.length == 0">
                            <td colspan="8" class="searchEmptyState">
                                No conditions added
                            </td>
                        </tr>
                        <tr *ngFor="let itemrow of glmsConcessionForm.controls.conditionItemsRows.controls; let i=index">
                            <td># {{i + 1}}</td>
                            <td>{{itemrow.get('conditionType').value?.description}}</td>
                            <td>{{itemrow.get('conditionProduct').value?.description}}</td>
                            <td><span *ngIf="itemrow.get('interestRate').value">{{itemrow.get('interestRate').value | number:'1.2-2'}}</span></td>
                            <td>{{itemrow.get('volume').value}}</td>
                            <td><span *ngIf="itemrow.get('value').value">{{itemrow.get('value').value | number:'1.2-2'}}</span></td>
                            <td>{{itemrow.get('conditionComment').value}}</td>
                            <td>{{itemrow.get('periodType').value.description}} {{itemrow.get('period').value.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="table-title">Comments</h3>

            <div class="table-container">
                <table class="table table-bordered table-hover header-fixed table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Sub-Status</th>
                            <th>Comment</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!glmsConcession.concession.concessionComments || glmsConcession.concession.concessionComments.length == 0">
                            <td colspan="4" class="searchEmptyState">
                                No comments added.
                            </td>
                        </tr>
                        <tr *ngFor="let comment of glmsConcession.concession.concessionComments | commentsFilter : 'LogChanges';">

                            <td>{{comment.userDescription}}</td>
                            <td>{{comment.concessionSubStatusDescription}}</td>
                            <td>{{comment.comment}}</td>
                            <td>{{comment.systemDate | date: 'yyyy/MM/dd'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-8">
            <h3 class="table-title">Related Concessions</h3>

            <div class="table-container">
                <table class="table table-bordered table-hover header-fixed table-striped">
                    <thead>
                        <tr>
                            <th>Relationship Type</th>
                            <th>Parent Concession</th>
                            <th>Relationship</th>
                            <th>Child Concession</th>
                            <th>Date</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!glmsConcession.concession.concessionRelationshipDetails || glmsConcession.concession.concessionRelationshipDetails.length == 0">
                            <td colspan="6" class="searchEmptyState">
                                No related concessions.
                            </td>
                        </tr>
                        <tr *ngFor="let concessionRelationship of glmsConcession.concession.concessionRelationshipDetails">
                            <td>{{concessionRelationship.relationshipType}}</td>
                            <td>
                                <span *ngIf="concessionRelationship.parentConcessionReference == concessionReferenceId"><strong>**</strong></span>
                                <span *ngIf="concessionRelationship.parentIsActive"><a href="#" target="_blank" [routerLink]="['/glms-view-concession', riskGroupNumber, sapbpid, concessionRelationship.parentConcessionReference]">{{concessionRelationship.parentConcession}}</a></span>
                                <span *ngIf="!concessionRelationship.parentIsActive">{{concessionRelationship.parentConcession}}</span>
                            </td>
                            <td>{{concessionRelationship.relationship}}</td>
                            <td>
                                <span *ngIf="concessionRelationship.childConcessionReference == concessionReferenceId"><strong>**</strong></span>
                                <span *ngIf="concessionRelationship.childIsActive"><a href="#" target="_blank" [routerLink]="['/glms-view-concession', riskGroupNumber, sapbpid, concessionRelationship.childConcessionReference]">{{concessionRelationship.childConcession}}</a></span>
                                <span *ngIf="!concessionRelationship.childIsActive">{{concessionRelationship.childConcession}}</span>
                            </td>
                            <td>{{concessionRelationship.date | date: 'yyyy/MM/dd'}}</td>
                            <td>{{concessionRelationship.user}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Modal conditions -->
    <div bsModal #manageConditionsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="manageConditionsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <app-concession-condition-modal [selectedConditionTypes]="selectedConditionTypes"
                                                [concessionForm]="glmsConcessionForm"
                                                [conditionTypes]="conditionTypes"
                                                [periodTypes]="periodTypes"
                                                [periods]="periods"
                                                (myEvent)="validatePeriod($event)"></app-concession-condition-modal>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="button" class="btn btn-primary" (click)="manageConditionsModal.hide()">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Tier -->
    <div bsModal #manageTierModal="bs-modal" class="modal" id="manageTierModal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="manageTierModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="col-md-12 modal-header">
                    <h4>Manage Tier</h4>
                </div>
                <div class="col-md-12 modal-body">

                    <!-- Error message -->
                    <div class="col-md-12" *ngIf="(tierValidationError)">
                        <div class="form-feedback-container">
                            <div class="alert-danger">
                                <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Below errors requires your attention..</p>
                                <p>{{errorMessage}}</p>

                                <ul *ngIf="tierValidationError">
                                    <li *ngFor="let validationMessage of tierValidationError;">{{validationMessage}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 modal-title">
                            <button type="button" class="btn btn-primary" (click)="addNewTierRow()">Add Line</button>
                        </div>
                    </div>
                    <table class="form-concessions-table" formArrayName="tierItemsRows" style="width:100%">
                        <thead class="form-concessions-table-headings">
                            <tr>
                                <th>Tiered From</th>
                                <th>Tiered To</th>
                                <th>Rate Type</th>
                                <th>Base Rate</th>
                                <th>Spread</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody class="form-concessions-table-content">
                            <tr *ngFor="let itemrow of glmsConcessionForm.controls.tierItemsRows.controls; let i=index" [formGroupName]="i">
                                <!-- Tiered From -->
                                <td class="length-short"><input type="text" numbersOnly="true" formControlName="tieredFrom" class="form-control" /></td>
                                <!-- Tiered To -->
                                <td class="length-short"><input type="text" formControlName="tieredTo" class="form-control" /></td>

                                <td class="length-short">
                                    <!-- Rate Type -->
                                    <select formControlName="rateType" class="form-control" (change)="rateTypeChange(i) ">
                                        <option *ngFor="let rateTypeOption of rateType" [ngValue]="rateTypeOption"> {{rateTypeOption.description}}</option>
                                    </select>
                                </td>
                                <td class="length-short">
                                    <!-- base Rate -->
                                    <select formControlName="baseRate" class="form-control">
                                        <option *ngFor="let baseRateCodeOption of baseRateCode" [ngValue]="baseRateCodeOption"> {{baseRateCodeOption.description}}</option>
                                    </select>
                                </td>
                                <!-- Spread -->
                                <td class="length-short"><input type="text" formControlName="spread" numbersOnly="true" class="form-control" /></td>

                                <!-- Value-->
                                <td class="length-short"><input type="text" formControlName="value" numbersOnly="true" class="form-control" /></td>

                                <td><button class="btn-delete" type="button" (click)="deleteTierRow(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="button" class="btn btn-primary" (click)="closeTierModal(manageTierModal.hide())">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal archive concession -->
    <div bsModal #archiveConcessionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="archiveConcessionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="col-md-12 modal-header">
                    <h4>Archive Concession</h4>
                </div>
                <div class="col-md-12 modal-body">
                    <div class="col-md-12 modal-title">
                        <label>Do you want this account to be on a Standard Fixed Rate or Standard Linked to Prime?</label>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-archive" (click)="archiveConcessionModal.hide(); archiveConcession(standardLinkedToPrime)">Standard Linked To Prime</button>
                        <button type="button" class="btn btn-primary btn-archive" (click)="archiveConcessionModal.hide(); archiveConcession(standardFixedRate)">Standard Fixed Rate</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" (click)="archiveConcessionModal.hide()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Form buttons -->
    <div class="footer-buttons">
        <div class="float-right">
            <button type="button" class="btn btn-cancel" (click)="goBack()" *ngIf="!isRecalling">Close</button>
            <button type="button" class="btn btn-danger" (click)="bcmDeclineConcession()" *ngIf="canBcmApprove">Decline</button>
            <button type="button" class="btn btn-success" (click)="bcmApproveConcession()" *ngIf="canBcmApprove">Forward</button>
            <button type="button" class="btn btn-danger" (click)="pcmDeclineConcession()" *ngIf="canPcmApprove">Decline</button>
            <button type="button" class="btn btn-success" (click)="pcmApproveConcession()" *ngIf="canPcmApprove">Approve</button>
            <button type="button" class="btn btn-success" (click)="extendConcession()" *ngIf="canExtend">Extend</button>
            <button type="button" class="btn btn-success" (click)="editConcession('Renew')" *ngIf="canRenew">Renew</button>
            <button type="button" class="btn btn-success" (click)="editConcession('Resubmit')" *ngIf="canResubmit">Resubmit</button>
            <button type="button" class="btn btn-success" (click)="editConcession('UpdateApproved')" *ngIf="canUpdate">Update</button>
            <button type="button" class="btn btn-warning" (click)="archiveConcessionModal.show()" *ngIf="canArchive">Archive</button>

            <button type="button" class="btn btn-primary" (click)="saveConcession()" *ngIf="isEditing">Save</button>

            <button type="button" class="btn btn-success" (click)="recallConcession()" *ngIf="canRecall && !isRecalling">Recall</button>
            <button type="button" class="btn btn-primary" (click)="saveRecallConcession()" *ngIf="isRecalling">Save</button>
            <button type="button" class="btn btn-danger" (click)="requestorDeclineConcession()" *ngIf="canApproveChanges">Decline</button>
            <button type="button" class="btn btn-success" (click)="requestorApproveConcession()" *ngIf="canApproveChanges">Accept</button>
        </div>
    </div>
</form>

<p>&nbsp;</p>
