<div class="row row-padding">
   
                <div class="col-md-12">
                    <div class="col-md-6">

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Total TT Volumes </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalTTolume" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small">Total TT Values </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalTTValue" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small">Total LCs Volumes </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalLCVolume" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small">Total LCs Value </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalLCValue" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small">Total FBC Volumes </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalFBCVolume" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small">Total FBC Value </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalFBCValue" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="col-md-6">


                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Average TT Value </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.AverageTTValue" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Average LC Price </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.AverageLCPrice" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Average  FBC Value </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.AverageFBCValue" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Average FBC Price </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.AverageFBCPrice" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                      
                    </div>
                </div>

            </div>
      