<div class="col-md-2" style="margin-top: 15px;">
    <i class="fa fa-chevron-circle-left" aria-hidden="true" style="font-size: 1.1em;"></i>
    <span class="back-button-text" style="font-size: 1.1em;" (click)="goBack()">Administration</span>
</div>

<div class="col-md-12">
    <h3>RM / AE / BM Management</h3>
</div>

<!-- Success message -->
<div class="col-md-12" *ngIf="saveMessage && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-success">
            <p class="message-heading"><i class="fa fa-check-circle" aria-hidden="true"></i>{{saveMessage}}</p>
        </div>
    </div>
</div>

<!-- Loading message -->
<div class="col-md-12" *ngIf="isLoading">
    <div class="form-feedback-container">
        <div class="alert-info">
            <p class="message-heading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>Loading</p>
        </div>
    </div>
</div>

<div class="col-md-12 search-and-results-container" *ngIf="!isLoading">
    <!-- Input form -->
    <div class="form-inline" *ngIf="canAdd">
        <button class="btn btn-primary" type="button" (click)="addAE()">Add RM / AE / BM</button>
    </div>

    <!-- Results table -->
    <div class="table-container">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>A Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let aeUser of aeUsers; trackBy: index' (click)="editAe(aeUser)">
                    <td>{{aeUser.id}}</td>
                    <td>{{aeUser.fullName}}</td>
                    <td>{{aeUser.aNumber}}</td>
                    <td>{{aeUser.emailAddress}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div bsModal #addAEModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addAEModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="col-md-12 modal-header">
                    <h4>
                        {{actionType}} RM / AE / BM Management
                    </h4>
                </div>

                <div class="row">
                    <!-- Error message -->
                    <div class="col-md-12" *ngIf="(errorMessage || validationError) && !isSaving">
                        <div class="form-feedback-container">
                            <div class="alert-danger">
                                <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Error occurred. Please see error(s) below.</p>
                                <p>{{errorMessage}}</p>

                                <ul *ngIf="validationError">
                                    <li *ngFor="let validationMessage of validationError">{{validationMessage}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Loading message -->
                    <div class="col-md-12" *ngIf="isSaving">
                        <div class="form-feedback-container">
                            <div class="alert-info">
                                <p class="message-heading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>Saving</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="!isSaving && canAdd">

                    <!-- Left side -->
                    <div class="col-md-6 modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">A Number</label>
                            <div class="col-sm-8">
                                <input type="text" required class="form-control" name="7" [(ngModel)]="addAeUserModel.aNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Name</label>
                            <div class="col-sm-8">
                                <input type="text" required class="form-control" name="6" [(ngModel)]="addAeUserModel.firstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Surname</label>
                            <div class="col-sm-8">
                                <input type="text" required class="form-control" name="5" [(ngModel)]="addAeUserModel.surname">
                            </div>
                        </div>
                    </div>

                    <!-- Right side -->
                    <div class="col-md-6 modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Email</label>
                            <div class="col-sm-8">
                                <input type="email" required class="form-control" name="4" [(ngModel)]="addAeUserModel.emailAddress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Contact Number</label>
                            <div class="col-sm-8">
                                <input type="tel" required class="form-control" name="8" [(ngModel)]="addAeUserModel.contactNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Business Centre</label>
                            <div class="col-sm-8">
                                <select [(ngModel)]="addAeUserModel.centreId" name="2" class="form-control">
                                    <option *ngFor="let p of centres"
                                            [ngValue]="p.id">
                                        {{p.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="email">Is Active</label>
                            <div class="col-sm-8">
                                <input type="checkbox" class="form-control" name="8" [(ngModel)]="addAeUserModel.isActive">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="!isSaving">
                    <div class="col-md-6 modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Account Assistant</label>
                            <div class="col-sm-8">
                                <select [(ngModel)]="selectedAccountAssistant" name="3" class="form-control">
                                    <option *ngFor="let accountAssistant of accountAssistants" [ngValue]="accountAssistant">
                                        {{accountAssistant.fullName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 modal-body">
                        <button class="btn btn-primary" (click)="addAccountAssistant()">Add</button>
                    </div>
                </div>
                <div class="row" *ngIf="!isSaving">
                    <div class="col-md-12 modal-body">
                        <div class="form-group">
                            <div class="table-container">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>A Number</th>
                                            <th>Email</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="isAeAAsLoading">
                                            <td colspan="4">Loading...</td>
                                        </tr>
                                        <tr *ngFor='let accountAssistant of selectedAccountAssistants; trackBy: index; let i=index'>
                                            <td>{{accountAssistant.fullName}}</td>
                                            <td>{{accountAssistant.aNumber}}</td>
                                            <td>{{accountAssistant.emailAddress}}</td>
                                            <td><button class="btn-delete" type="button" (click)="removeAccountAssistant(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" *ngIf="!isSaving">
                    <div class="float-right">
                        <button type="button" class="btn btn-cancel" (click)="addAEModal.hide()">Close</button>
                        <button type="button" class="btn btn-primary" (click)="saveAE()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
