bin
obj
packages
*.csproj.user
*.csproj.DotSettings
Debug
obj\Debug
.suo
.vs
*FileListAbsolute.txt
node_modules
site.min.js
web.pubxml.user
*StandardBank.ConcessionManagement.Database.dbmdl
*StandardBank.ConcessionManagement.Database.jfm