bin
obj
packages
wwwroot
*.csproj.user
*.csproj.DotSettings
Debug
obj\Debug
.suo
.vs
*FileListAbsolute.txt
site.min.js
web.pubxml.user
*StandardBank.ConcessionManagement.Database.dbmdl
*StandardBank.ConcessionManagement.Database.jfm
/code/src/StandardBank.ConcessionManagement.Scheduler/logs
