<div class="pull-left">
    <table>
        <tbody>
            <tr>
                <td>
                    <label style="padding-right:5px;">Check concessions for another approver</label>
                </td>
                <td>
                    <p class="input-group">

                        <span class="input-group-btn">

                            <input type="text" class="form-control" placeholder="Search..." ng-model="ApproverANumber" />
                            <button class="btn btn-primary" type="Submit" ng-click="onSearch()">
                                <i class="fa fa-search">&nbsp; Search</i>
                            </button>
                        </span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>