
<div class="col-md-12">

    <div class="row row-padding">

        <div class="col-md-4">
            <label class="small"> Risk Group NR </label>
        </div>

        <div class="col-md-8">
            <input ng-model="Customer.RiskgroupNumber" class="form-control" disabled="disabled" />
        </div>
    </div>
</div>

<div class="col-md-12">

    <div class="row row-padding">

        <div class="col-md-4">
            <label class="small"> Risk Group Name </label>
        </div>

        <div class="col-md-8">
            <input ng-model="Customer.RiskgroupName" class="form-control" disabled="disabled" />
        </div>
    </div>
</div>

<div class="col-md-12">

    <div class="row row-padding">

        <div class="col-md-4">
            <label class="small"> Customer Number </label>
        </div>

        <div class="col-md-8">
            <input ng-model="Customer.Entity.CustomerNumber" class="form-control" />
        </div>
    </div>
</div>

<div class="col-md-12">

    <div class="row row-padding">

        <div class="col-md-4">
            <label class="small"> Customer Name </label>
        </div>

        <div class="col-md-8">
            <input ng-model="Customer.Entity.CustomerName" class="form-control" disabled="disabled" />
        </div>
    </div>
</div>

<div class="col-md-12">

    <div class="row row-padding">

        <div class="col-md-4">
            <label class="small"> Segment </label>
        </div>

        <div class="col-md-8">
            <input ng-model="Customer.Entity.MarketSegment.Description" class="form-control" disabled="disabled" />
        </div>
    </div>
</div>



