<!-- Banner expanded -->
<div class="col-md-12 banner">
    <div class="row">
        <div class="lending-banner-title">
            <div class="col-md-1">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                <span class="back-button-text" (click)="goBack()">Back</span>
            </div>
            <div class="col-md-10 banner-main-title">
                <i class="fa fa-handshake-o" aria-hidden="true"></i> View Cash Concession - {{concessionReferenceId}}
                <span class="label label-warning" style="float: right;">{{cashConcession?.concession?.status}} - {{cashConcession?.concession?.subStatus}}</span>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="col-md-12 banner-container">
            <div class="col-md-11">
                <div>
                    <div class="col-md-2">
                        <div class="subHeading">{{riskGroup?.name}}</div>
                        <div class="date lightTitle hidden-element">{{riskGroup?.number}}</div>
                        <div class="requestor"><i class="fa fa-user-circle-o" aria-hidden="true"></i><button (click)="viewRequesterModal.show()">{{cashConcession?.concession?.requestor?.fullName}}</button></div>
                    </div>
                    <div class="col-md-3 summary-items">
                        <h5>CASHCENTR</h5>
                        <div class="summary-items-sub">Turnover <span class="summary-item-value">{{cashFinancial?.totalCashCentrCashTurnover | number : '1.2-2'}}</span></div>
                        <div class="summary-items-sub">Volume <span class="summary-item-value">{{cashFinancial?.totalCashCentrCashVolume | number : '1.2-2'}}</span></div>
                        <div class="summary-items-sub">Weighted Avg Price <span class="col-md-12 summary-item-value">{{cashFinancial?.weightedAverageCCPrice | number : '1.2-2'}}</span></div>
                    </div>
                    <div class="col-md-3 summary-items">
                        <h5>BRANCH</h5>
                        <div class="summary-items-sub">Turnover <span class="summary-item-value">{{cashFinancial?.totalBranchCashTurnover | number : '1.2-2'}}</span></div>
                        <div class="summary-items-sub">Volume <span class="summary-item-value">{{cashFinancial?.totalBranchCashVolume | number : '1.2-2'}}</span></div>
                        <div class="summary-items-sub">Weighted Avg Price <span class="col-md-12 summary-item-value">{{cashFinancial?.weightedAverageBranchPrice | number : '1.2-2'}}</span></div>
                    </div>
                    <div class="col-md-3 summary-items">
                        <h5>AUTOSAFE</h5>
                        <div class="summary-items-sub">Turnover <span class="summary-item-value">{{cashFinancial?.totalAutosafeCashTurnover | number : '1.2-2'}}</span></div>
                        <div class="summary-items-sub">Volume <span class="summary-item-value">{{cashFinancial?.totalAutosafeCashVolume | number : '1.2-2'}}</span></div>
                        <div class="summary-items-sub">Weighted Avg Price <span class="col-md-12 summary-item-value">{{cashFinancial?.weightedAverageAFPrice | number : '1.2-2'}}</span></div>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-md-1">
                <div class="compress">
                    <div onclick="hideElement('hidden-element')">
                        <i class="fa fa-compress" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>

<!-- Requester modal content -->
<div bsModal #viewRequesterModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewRequesterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="requestor-modal">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <p class="name">{{cashConcession?.concession?.requestor?.fullName}}</p>
                <p class="anumber">{{cashConcession?.concession?.requestor?.aNumber}}</p>
                <p>{{cashConcession?.concession?.requestor?.selectedCentre?.name}}</p>
                <p>{{cashConcession?.concession?.requestor?.selectedRegion?.description}}</p>
                <button type="button" class="btn btn-primary" (click)="viewRequesterModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Error message -->
<div class="col-md-12" *ngIf="(errorMessage || validationError) && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-danger">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Unable to submit concession. Please see error(s) below.</p>
            <p>{{errorMessage}}</p>

            <ul *ngIf="validationError">
                <li *ngFor="let validationMessage of validationError">{{validationMessage}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Success message -->
<div class="col-md-12" *ngIf="saveMessage && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-success">
            <p class="message-heading"><i class="fa fa-check-circle" aria-hidden="true"></i>Concession submitted successfully with ID: {{saveMessage}}</p>
        </div>
    </div>
</div>

<!-- Warning message -->
<div class="col-md-12" *ngIf="warningMessage && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-warning">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{warningMessage}}</p>
        </div>
    </div>
</div>

<!-- Loading message -->
<div class="col-md-12" *ngIf="isLoading">
    <div class="form-feedback-container">
        <div class="alert-info">
            <p class="message-heading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>Loading</p>
        </div>
    </div>
</div>

<form class="col-md-12 product-form" [formGroup]="cashConcessionForm" *ngIf="!isLoading">
    <div class="col-md-4">
        <div class="row">
            <!-- SMT deal number -->
            <label>SMT Deal Number</label>
            <input type="text" numbersOnly="true" class="form-control" formControlName="smtDealNumber" maxlength="16" [attr.disabled]="isRecalling ? null : ''" />
        </div>     
    </div>
    <div class="col-md-7 col-md-offset-1">
        <div class="row">
            <!-- Motivation -->
            <label>Motivation</label>
            <textarea class="form-control large-input" maxlength="800" formControlName="motivation" [attr.disabled]="motivationEnabled ? null : ''"></textarea>
        </div>
        <div class="row" *ngIf="canBcmApprove || canPcmApprove || canApproveChanges">
            <!-- Comments -->
            <label>Comments</label>
            <textarea class="form-control large-input" formControlName="comments" placeholder="Comments"></textarea>
        </div>
    </div>

    <!-- Concession table -->
    <div class="col-md-12" style="border-bottom: 1px solid gray; margin-bottom: 15px;">
        <div class="row">
            <h3 class="table-title">Concessions</h3>
            <button type="button" class="btn btn-primary btn-concession" (click)="addNewConcessionRow()" *ngIf="canPcmApprove || isEditing || isRecalling" style="margin-top: 15px;">New Concession</button>
        </div>
    </div>

    <table class="form-concessions-table" formArrayName="concessionItemRows">
        <thead class="form-concessions-table-headings">
            <tr>
                <th>Channel Type</th>
                <th>Account No</th>
                <th>Table Number</th>
                <th>Ad Valorem</th>
                <th>Base Rate</th>
                <th>Approved Table Number</th>
                <th>Accrual</th>
                <th>Expiry Date</th>
                <th>Date Approved</th>
            </tr>
        </thead>
        <tbody class="form-concessions-table-content">
            <tr *ngFor="let itemrow of cashConcessionForm.controls.concessionItemRows.controls; let i=index" [formGroupName]="i">
                <td class="length-long">
                    <input formControlName="cashConcessionDetailId" style="display: none;" />
                    <input formControlName="concessionDetailId" style="display: none;" />
                    <input formControlName="isExpired" style="display: none;" />
                    <input formControlName="isExpiring" style="display: none;" />

                    <select formControlName="channelType" class="form-control" [attr.disabled]="canEdit ? null : ''">
                        <option *ngFor="let channelTypeOption of channelTypes" [ngValue]="channelTypeOption">{{channelTypeOption.description}}</option>
                    </select>
                </td>

                <td class="length-long">
                    <select formControlName="accountNumber" class="form-control" [attr.disabled]="canEdit ? null : ''">
                        <option *ngFor="let clientAccountOption of clientAccounts" [ngValue]="clientAccountOption">{{clientAccountOption.accountNumber}} - {{clientAccountOption.customerName}}</option>
                    </select>
                </td>

                <td class="length-long">
                    <select formControlName="tableNumber" class="form-control" (change)="tableNumberChanged(i)" [attr.disabled]="canEdit ? null : ''">
                        <option *ngFor="let tableNumberOption of tableNumbers" [ngValue]="tableNumberOption">{{tableNumberOption.displayText}}</option>
                    </select>
                </td>

                <td class="length-short"><input formControlName="adValorem" class="form-control" /></td>
                <td class="length-long"><input formControlName="baseRate" class="form-control" /></td>
                <td class="length-long"><input formControlName="approvedTableNumber" class="form-control" /></td>

                <td class="length-medium">
                    <select formControlName="accrualType" class="form-control" [attr.disabled]="canEdit ? null : ''">
                        <option *ngFor="let accrualTypeOption of accrualTypes" [ngValue]="accrualTypeOption">{{accrualTypeOption.description}}</option>
                    </select>
                </td>

                <td class="length-short"><input type="date" formControlName="expiryDate" class="form-control" [attr.disabled]="canEdit ? null : ''" [style.background-color]="getBackgroundColour(i)" /></td>
                <td class="length-short"><input type="date" formControlName="dateApproved" class="form-control" /></td>

                <td *ngIf="canBcmApprove || canPcmApprove || isEditing || isRecalling"><button *ngIf="cashConcessionForm.controls.concessionItemRows.controls.length > 1" (click)="deleteConcessionRow(i)" class="btn-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>

    <!-- Conditions table -->
    <div class="col-md-12">
        <div class="row">
            <h3 class="table-title">Conditions</h3>
            <button type="button" class="btn btn-primary btn-concession" (click)="manageConditionsModal.show()" *ngIf="canPcmApprove || isEditing || isRecalling" style="margin-top: 15px;">Manage Conditions</button>

            <div class="table-container">
                <table class="table table-bordered table-hover header-fixed table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Condition Type</th>
                            <th>Product Type</th>
                            <th>Interest Rate</th>
                            <th>Volume</th>
                            <th>Value</th>
                            <th>Expected Turnover Value</th>
                            <th>Period</th>
                        </tr>
                    </thead>
                    <tbody class="secondary-text">
                        <tr *ngIf="cashConcessionForm.controls.conditionItemsRows.controls.length == 0">
                            <td colspan="8" class="searchEmptyState">
                                No conditions has been added
                            </td>
                        </tr>
                        <tr *ngFor="let itemrow of cashConcessionForm.controls.conditionItemsRows.controls; let i=index">
                            <td># {{i + 1}}</td>
                            <td>{{itemrow.get('conditionType').value.description}}</td>
                            <td>{{itemrow.get('conditionProduct').value.description}}</td>
                            <td>{{itemrow.get('interestRate').value}}</td>
                            <td>{{itemrow.get('volume').value}}</td>
                            <td>{{itemrow.get('value').value}}</td>
                            <td>{{itemrow.get('expectedTurnoverValue').value}}</td>
                            <td>{{itemrow.get('periodType').value?.description}} {{itemrow.get('period').value?.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Modal conditions -->
    <div bsModal #manageConditionsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="manageConditionsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="col-md-12 modal-header">
                    <h4>Manage Conditions</h4>
                </div>
                <div class="col-md-12 modal-body">
                    <div class="row" *ngIf="canBcmApprove || canPcmApprove || isEditing || isRecalling">
                        <div class="col-md-12 modal-title">
                            <button type="button" class="btn btn-primary" (click)="addNewConditionRow()">Add Condition</button>
                        </div>
                    </div>
                    <table class="form-concessions-table" formArrayName="conditionItemsRows" style="width:100%;">
                        <thead class="form-concessions-table-headings">
                            <tr *ngIf="cashConcessionForm.controls.conditionItemsRows.controls.length > 0">
                                <th>Condition Type</th>
                                <th>Product Type</th>
                                <th>Interest Rate</th>
                                <th>Volume</th>
                                <th>Value</th>
                                <th>Expected Turnover Value</th>
                                <th>Period Type</th>
                                <th>Period</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="form-concessions-table-content">
                            <tr *ngIf="cashConcessionForm.controls.conditionItemsRows.controls.length == 0">
                                <td colspan="8" class="searchEmptyState">
                                    No conditions has been added
                                </td>
                            </tr>
                            <tr *ngFor="let itemrow of cashConcessionForm.controls.conditionItemsRows.controls; let i=index" [formGroupName]="i">
                                <td class="length-long">
                                    <input formControlName="concessionConditionId" style="display: none;" />
                                    <!-- Condition type -->
                                    <select formControlName="conditionType" (change)="conditionTypeChanged(i)">
                                        <option *ngFor="let conditionTypeOption of conditionTypes" [ngValue]="conditionTypeOption">{{conditionTypeOption?.description}}</option>
                                    </select>
                                </td>
                                <td class="length-long">
                                    <!-- Product type -->
                                    <select formControlName="conditionProduct" *ngIf="selectedConditionTypes[i] != null">
                                        <option *ngFor="let conditionProductOption of selectedConditionTypes[i].conditionProducts" [ngValue]="conditionProductOption">{{conditionProductOption?.description}}</option>
                                    </select>
                                </td>

                                <td class="length-medium"><input type="text" numbersOnly="true" formControlName="interestRate" [attr.disabled]="selectedConditionTypes[i] != null && selectedConditionTypes[i].enableInterestRate ? null : ''" /></td>
                                <td class="length-long"><input type="text" numbersOnly="true" formControlName="volume" [attr.disabled]="selectedConditionTypes[i] != null && selectedConditionTypes[i].enableConditionVolume ? null : ''" /></td>
                                <td class="length-medium"><input type="text" numbersOnly="true" formControlName="value" [attr.disabled]="selectedConditionTypes[i] != null && selectedConditionTypes[i].enableConditionValue ? null : ''" /></td>
                                <td class="length-medium"><input type="text" numbersOnly="true" formControlName="expectedTurnoverValue" [attr.disabled]="selectedConditionTypes[i] != null && selectedConditionTypes[i].enableExpectedTurnoverValue ? null : ''" /></td>

                                <td class="length-medium">
                                    <!-- Period type -->
                                    <select formControlName="periodType">
                                        <option *ngFor="let periodTypeOption of periodTypes" [ngValue]="periodTypeOption">{{periodTypeOption?.description}}</option>
                                    </select>
                                </td>
                                <td class="length-medium">
                                    <!-- Period -->
                                    <select formControlName="period">
                                        <option *ngFor="let periodOption of periods" [ngValue]="periodOption">{{periodOption?.description}}</option>
                                    </select>
                                </td>
                                <td><button type="button" (click)="deleteConditionRow(i)" class="btn-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="button" class="btn btn-primary" (click)="manageConditionsModal.hide()">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3 class="table-title">Comments</h3>

            <div class="table-container">
                <table class="table table-bordered table-hover header-fixed table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Sub-Status</th>
                            <th>Comment</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!cashConcession.concession.concessionComments || cashConcession.concession.concessionComments.length == 0">
                            <td colspan="4" class="searchEmptyState">
                                No comments added.
                            </td>
                        </tr>
                        <tr *ngFor="let comment of cashConcession.concession.concessionComments">
                            <td>{{comment.userDescription}}</td>
                            <td>{{comment.concessionSubStatusDescription}}</td>
                            <td>{{comment.comment}}</td>
                            <td>{{comment.systemDate | date: 'yyyy/MM/dd'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-8">
            <h3 class="table-title">Related Concessions</h3>

            <div class="table-container">
                <table class="table table-bordered table-hover header-fixed table-striped">
                    <thead>
                        <tr>
                            <th>Relationship Type</th>
                            <th>Parent Concession</th>
                            <th>Relationship</th>
                            <th>Child Concession</th>
                            <th>Date</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!cashConcession.concession.concessionRelationshipDetails || cashConcession.concession.concessionRelationshipDetails.length == 0">
                            <td colspan="6" class="searchEmptyState">
                                No related concessions.
                            </td>
                        </tr>
                        <tr *ngFor="let concessionRelationship of cashConcession.concession.concessionRelationshipDetails">
                            <td>{{concessionRelationship.relationshipType}}</td>
                            <td>
                                <span *ngIf="concessionRelationship.parentConcessionReference == concessionReferenceId"><strong>**</strong></span>
                                <span *ngIf="concessionRelationship.parentIsActive"><a href="#" target="_blank" [routerLink]="['/cash-view-concession', riskGroup.number, concessionRelationship.parentConcessionReference]">{{concessionRelationship.parentConcession}}</a></span>
                                <span *ngIf="!concessionRelationship.parentIsActive">{{concessionRelationship.parentConcession}}</span>
                            </td>
                            <td>{{concessionRelationship.relationship}}</td>
                            <td>
                                <span *ngIf="concessionRelationship.childConcessionReference == concessionReferenceId"><strong>**</strong></span>
                                <span *ngIf="concessionRelationship.childIsActive"><a href="#" target="_blank" [routerLink]="['/cash-view-concession', riskGroup.number, concessionRelationship.childConcessionReference]">{{concessionRelationship.childConcession}}</a></span>
                                <span *ngIf="!concessionRelationship.childIsActive">{{concessionRelationship.childConcession}}</span>
                            </td>
                            <td>{{concessionRelationship.date | date: 'yyyy/MM/dd'}}</td>
                            <td>{{concessionRelationship.user}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Form buttons -->
    <div class="footer-buttons">
        <div class="float-right">
            <button type="button" class="btn btn-cancel" (click)="goBack()" *ngIf="!isRecalling">Close</button>
            <button type="button" class="btn btn-danger" (click)="bcmDeclineConcession()" *ngIf="canBcmApprove">Decline</button>
            <button type="button" class="btn btn-success" (click)="bcmApproveConcession()" *ngIf="canBcmApprove">Forward</button>
            <button type="button" class="btn btn-danger" (click)="pcmDeclineConcession()" *ngIf="canPcmApprove">Decline</button>
            <button type="button" class="btn btn-success" (click)="pcmApproveConcession()" *ngIf="canPcmApprove">Approve</button>
            <button type="button" class="btn btn-success" (click)="extendConcession()" *ngIf="canExtend">Extend</button>

            <button type="button" class="btn btn-success" (click)="editConcession('Renew')" *ngIf="canRenew">Renew</button>
            <button type="button" class="btn btn-success" (click)="editConcession('Resubmit')" *ngIf="canResubmit">Resubmit</button>
            <button type="button" class="btn btn-success" (click)="editConcession('UpdateApproved')" *ngIf="canUpdate">Update</button>
            <button type="button" class="btn btn-warning" (click)="archiveConcession()" *ngIf="canArchive">Archive</button>

            <button type="button" class="btn btn-primary" (click)="saveConcession()" *ngIf="isEditing">Save</button>

            <button type="button" class="btn btn-success" (click)="recallConcession()" *ngIf="canRecall && !isRecalling">Recall</button>
            <button type="button" class="btn btn-primary" (click)="saveRecallConcession()" *ngIf="isRecalling">Save</button>
            <button type="button" class="btn btn-danger" (click)="requestorDeclineConcession()" *ngIf="canApproveChanges">Decline</button>
            <button type="button" class="btn btn-success" (click)="requestorApproveConcession()" *ngIf="canApproveChanges">Approve</button>
        </div>
    </div>
</form>

<!--<pre>{{cashConcessionForm.value | json}}</pre>-->

<p>&nbsp;</p>
