
.pricing-banner{
    background-color:$tableHeaderColour !important;
    padding-top:100px;
    padding-left:60px;   
}

.pricing-form{
  color: white !important;
}

.pricing-group-container{
   padding-top:100px;
   .well{
       height: 300px;
       background: white;
    }
}

