$navBlue: #18326f;
$navBlueHover: rgba(24,50,111,0.5);
$lightGray: #adadad;
$secondaryText: #757575;
$navText:#757575;
$white:white;
$validationRed:#c03343;
$validationGreen:#739c3c;
$tableHeaderColour: #006892;
$bannerBackground:#006892;
$selectedItem:#2F91FF;
$unselectedItem: #9C9C9C;
$black:black;
$green:green;
$secondaryText: #757575;
$pricingView:#1f84ad;
$bannerTitle: #3386a8;
$cashProductTableHead: #bababa;
$grayTint: #fafafa;
$pricingIconBlue: #1d71d3;