$navBlue: #18326f;
$lightGray: #adadad;
$secondaryText: #757575;
$navText:#757575;
$white:white;
$validationRed:#c03343;
$validationGreen:#739c3c;
$tableHeaderColour: #006892;
$bannerBackground:#006892;
$black:black;
$green:green;
$secondaryText: #757575;
$pricingView:#1f84ad;