
<app-inbox-header></app-inbox-header>

<div class="col-md-12 search-and-results-container">
  <!-- Search bar -->
  <div class="input-group add-on">
    <input class="form-control" placeholder="Search Concession ID or Risk Group Number" name="srch-term" id="srch-term" type="text">
    <div class="input-group-btn">
      <button class="btn btn-default-search" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </div>
  </div>
  <!-- Results table -->
  <div class="table-container">
    <table class="table table-bordered table-hover header-fixed table-striped">
      <thead>
        <tr>
          <th>Risk Group</th>
          <th>Customer Name</th>
          <th>Type</th>
          <th>Date Opened</th>
          <th>Concession ID</th>
          <th>Segment</th>
          <th>Sent For Approval</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p class="customerName">APPLE</p>
            <p class="date">1989</p>
          </td>
          <td>Mac</td>
          <td>Transactional</td>
          <td>
            <p class="date">2017/05/02 </p>
          </td>
          <td>L00000</td>
          <td>Expert</td>
          <td>
            <p class="date">2017/05/02 </p>
          </td>

        </tr>
        <tr>
          <td>
            <p class="customerName">EDCON</p>
            <p class="date">1989</p>
          </td>
          <td>CNA</td>
          <td>Transactional</td>
          <td>
            <p class="date">2017/05/02 </p>
          </td>
          <td>L11111</td>
          <td>Expert</td>
          <td>
            <p class="date">2017/05/02 </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- pagination-->
  <ul class="pagination">
    <li><a href="#">First</a></li>
    <li><a href="#">Prev</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">Next</a></li>
    <li><a href="#">Last</a></li>
  </ul>
</div>