<div class="col-md-12 banner">
    <div class="row">
        <!-- Header -->
        <div class="lending-banner-title">
            <div class="col-md-1">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                <span class="back-button-text" (click)="goBack()">Back</span>
            </div>
            <div class="col-md-10 banner-main-title">
                <i class="fa fa-exchange" aria-hidden="true"></i> Transactional
            </div>
            <div class="col-md-1"></div>
        </div>

        <!-- Dashboard Expanded -->
        <div class="col-md-12 banner-container" *ngIf="showHide">
            <div class="col-md-11 summary-main">
                <div class="col-md-2 summary-sub-title">
                    <div class="subHeading">{{transactionalView.riskGroup.name}}</div>
                    <div class="date lightTitle hidden-element">{{transactionalView.riskGroup.number}}</div>
                </div>

                <div class="col-md-3 summary-items">
                    <h5>Account</h5>
                    <div class="summary-items-sub">No. of Accounts: <span class="summary-item-value">{{transactionalView?.transactionalFinancial?.totalNumberOfAccounts}}</span></div>
                    <div class="summary-items-sub">Avg Management Fee <span class="summary-item-value">{{transactionalView?.transactionalFinancial?.averageAccountManagementFee | number : '1.2-2'}}</span></div>
                    <div class="summary-items-sub">Avg Min Monthly Fee <span class="col-md-12 summary-item-value">{{transactionalView?.transactionalFinancial?.averageMinimumMonthlyFee | number : '1.2-2'}}</span></div>
                </div>
                <div class="col-md-3 summary-items">
                    <h5>Cash</h5>
                    <div class="summary-items-sub">Total Withdrawal Volumes <span class="summary-item-value">{{transactionalView?.transactionalFinancial?.totalCashWithdrawalVolumes | number : '1.2-2'}}</span></div>
                    <div class="summary-items-sub">Total Withdrawal Values <span class="summary-item-value">{{transactionalView?.transactionalFinancial?.totalCashWithdrawalValues | number : '1.2-2'}}</span></div>
                    <div class="summary-items-sub">Avg Withdrawal Price <span class="col-md-12 summary-item-value">{{transactionalView?.transactionalFinancial?.averageCashWithdrawalPrice | number : '1.2-2'}}</span></div>
                </div>
                <div class="col-md-2 summary-items">
                    <h5>Total Cheque</h5>
                    <div class="summary-items-sub">Issuing Volumes<span class="summary-item-value">{{transactionalView?.transactionalFinancial?.totalChequeIssuingVolumes | number : '1.2-2'}}</span></div>
                    <div class="summary-items-sub">Deposit Volumes<span class="summary-item-value">{{transactionalView?.transactionalFinancial?.totalChequeDepositVolumes | number : '1.2-2'}}</span></div>
                    <div class="summary-items-sub">Encashment Volumes<span class="summary-item-value">{{transactionalView?.transactionalFinancial?.totalChequeEncashmentVolumes | number : '1.2-2'}}</span></div>
                    <div class="summary-items-sub">Encashment Value <span class="summary-item-value">{{transactionalView?.transactionalFinancial?.totalChequeEncashmentValues | number : '1.2-2'}}</span></div>
                </div>
                <div class="col-md-2 summary-items">
                    <h5>Average Cheque</h5>
                    <div class="summary-items-sub">Issuing Value <span class="summary-item-value">{{transactionalView?.transactionalFinancial?.averageChequeIssuingValue | number : '1.2-2'}}</span></div>
                    <div class="summary-items-sub">Issuing Price <span class="summary-item-value">{{transactionalView?.transactionalFinancial?.averageChequeIssuingPrice | number : '1.2-2'}}</span></div>
                    <div class="summary-items-sub">Deposit Value <span class="summary-item-value">{{transactionalView?.transactionalFinancial?.averageChequeDepositValue | number : '1.2-2'}}</span></div>
                    <div class="summary-items-sub">Deposit Price <span class="summary-item-value">{{transactionalView?.transactionalFinancial?.averageChequeDepositPrice | number : '1.2-2'}}</span></div>
                    <div class="summary-items-sub">Encashment Price <span class="summary-item-value">{{transactionalView?.transactionalFinancial?.averageChequeEncashmentPrice | number : '1.2-2'}}</span></div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="compress">
                    <div>
                        <i class="fa fa-compress" (click)="showHide = !showHide" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard Collapsed -->
        <div class="col-md-12 banner-container" *ngIf="!showHide">
            <div class="col-md-11">
                <div>
                    <div class="col-md-5">
                        <div class="subHeading">{{transactionalView.riskGroup.name}}</div>
                        <div class="date lightTitle hidden-element">{{transactionalView.riskGroup.number}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="compress">
                    <div>
                        <i class="fa fa-expand" (click)="showHide = !showHide" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Table information -->

<div class="col-md-12">
    <div class="col-md-5">
        <h2 class="headings">Products</h2>
        <div class="section">

            <!-- Empty state for products if no data is found -->
            <div *ngIf="!transactionalView?.transactionalProducts || transactionalView?.transactionalProducts?.length == 0">
                <div class="section-body">
                    <div class="searchEmptyState">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        <p>No product data found</p>
                    </div>
                </div>
            </div>
            <!-- End of empty state -->
            <!-- Products list -->
            <div class="section-body" *ngFor="let transactionalProduct of transactionalView.transactionalProducts; trackBy: index;">
                <div class="product-section">
                    <div class="product-name"> {{transactionalProduct.customerName}}</div>
                    <div>
                        <div class="product-account">Account No: {{transactionalProduct.accountNumber}}</div>
                        <div class="product-code">Transaction Type: {{transactionalProduct.transactionType}}</div>
                    </div>
                </div>
                <div class="product-table-container">
                    <table class="table table-bordered table-hover header-fixed table-striped ">
                        <thead>
                        <tr>
                            <th>Tariff Table</th>
                            <th>Volume</th>
                            <th>Value</th>
                            <th>Loaded Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="rightAlign"> {{transactionalProduct.tariffTable}}</td>
                            <td class="rightAlign"> {{transactionalProduct.volume}}</td>
                            <td class="rightAlign"> {{transactionalProduct.value}}</td>
                            <td class="rightAlign"> {{transactionalProduct.loadedPrice}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of products list -->

        </div>
    </div>

    <!-- concessions -->

    <div class="col-md-7  search-and-results-container concessions">
        <h2 class="headings">
            Concessions
            <button type="button" class="btn btn-primary btn-concession" [routerLink]="['/transactional-add-concession', transactionalView.riskGroup.number]" *ngIf="pageLoaded && canRequest">Add Concession</button>
        </h2>

        <!-- Search bar -->
        <div class="input-group add-on">
            <input class="form-control" placeholder="Concession ID" [(ngModel)]="filterConcessionId" type="text">
        </div>

        <div class="section" *ngFor="let transactionalConcession of transactionalView.transactionalConcessions | baseConcessionFilter : filterConcessionId; trackBy: index;">
            <div class="section-header small-table-title">
                <div class="concessionID-section"> {{transactionalConcession.concession.referenceNumber}}</div>
            </div>
            <div class="section-body">
                <div class="table-container" [routerLink]="['/transactional-view-concession', transactionalView.riskGroup.number, transactionalConcession.concession.referenceNumber]">
                    <table class="table table-bordered table-hover header-fixed table-striped">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Transaction Type</th>
                                <th>Tariff Table</th>
                                <th>Volume</th>
                                <th>Value</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let concession of transactionalConcession.transactionalConcessionDetails; trackBy: index;">
                                <td>
                                    <p class="customerInfo">{{concession.customerName}}</p>
                                    <p class="accInfo">Acc No : {{concession.accountNumber}}</p>
                                </td>
                                <td class="rightAlign">{{concession.transactionType}}</td>
                                <td class="rightAlign">{{concession.tariffTable}}</td>
                                <td class="rightAlign">{{concession.volume}}</td>
                                <td class="rightAlign">{{concession.value}}</td>
                                <td>
                                    <p class="mapInfo">Loaded: R{{concession.loadedPrice | number : '1.2-2'}}</p>
                                    <p class="mapInfo">Approved: R{{concession.approvedPrice | number : '1.2-2'}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Empty state if no concessions found -->
        <div class="searchEmptyState" *ngIf="(transactionalView.transactionalConcessions | baseConcessionFilter: filterConcessionId).length === 0">
            <i class="fa fa-inbox" aria-hidden="true"></i>
            <p>No concessions found matching your search</p>
        </div>
    </div>
</div>
