<div class="col-md-12 lending-view-banner">
  <div class="row">
    <div class="lending-banner-title">
      <div class="col-md-1">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        <span class="back-button-text" onclick="location.href = 'pricing.html'">Back</span>
      </div>
      <div class="col-md-10 banner-main-title">
        <i class="fa fa-exchange" aria-hidden="true"></i> Transactional
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="col-md-12 lending-banner">
      <div class="col-md-11">
        <div>
          <div class="col-md-2">
            <div class="subHeading">EDCON</div>
            <div class="date lightTitle hidden-element">1989</div>
          </div>
          <div class="col-md-9">
            <div class="col-md-3 lending-items hidden-element">
              <div>Account</div>
              <div class="summary-items-sub">No. of Accounts: <span class="summary-item-value">0.00</span></div>
              <div class="summary-items-sub">Avg Management Fee <span class="summary-item-value">0.00</span></div>
              <div class="summary-items-sub">Avg Min Monthly Fee <span class="col-md-12 summary-item-value">0.00</span></div>
            </div>
            <div class="col-md-3 summary-items hidden-element">
              <div>Cash</div>
              <div class="summary-items-sub">Total Withdrawal Volumes <span class="summary-item-value">0.00</span></div>
              <div class="summary-items-sub">Total Withdrawal Values <span class="summary-item-value">0.00</span></div>
              <div class="summary-items-sub">Avg Withdrawal Price <span class="col-md-12 summary-item-value">0.00</span></div>
            </div>
            <div class="col-md-3 summary-items hidden-element">
              <div>Total Cheque Volumes</div>
              <div class="summary-items-sub">Issuing <span class="summary-item-value">0.00</span></div>
              <div class="summary-items-sub">Deposit <span class="summary-item-value">0.00</span></div>
              <div class="summary-items-sub">Encashment <span class="summary-item-value">0.00</span></div>
            </div>
            <div class="col-md-3 summary-items hidden-element">
              <div>Average Cheque</div>
              <div class="summary-items-sub">Issuing Value <span class="summary-item-value">0.00</span></div>
              <div class="summary-items-sub">Issuing Price <span class="summary-item-value">0.00</span></div>
              <div class="summary-items-sub">Deposit Value <span class="summary-item-value">0.00</span></div>
              <div class="summary-items-sub">Deposit Price <span class="summary-item-value">0.00</span></div>
              <div class="summary-items-sub">Encashment Price <span class="summary-item-value">0.00</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <div class="compress">
          <div onclick="hideElement('hidden-element')">
            <i class="fa fa-compress" aria-hidden="true" id="compress-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Table information -->

<div class="lending-headings col-md-12">
  <div class="col-md-5">
    <h2 class="resultsHeading">Products</h2>
  </div>
  <div class="col-md-7">
    <h2 class="resultsHeading">
      Concessions
      <button type="button" class="btn btn-primary concessionBtn" onclick="location.href = 'transactional-concessions.html'">Add Concession</button>
    </h2>

  </div>
</div>
<!-- lending concessions and products-->
<div class="col-md-12">
  <div class="col-md-5">
    <div class="section">
      <div class="section-body">
        <div class="product-section">
          <div class="product-name"> Real People</div>
          <div>
            <div class="product-account">Account No: 12345</div>
          </div>
        </div>
        <div class="product-table-container">
          <table class="table table-bordered table-hover header-fixed table-striped ">
            <thead>
              <tr>
                <th>Transaction Type</th>
                <th>Tariff Table</th>
                <th>Volume</th>
                <th>Value</th>
                <th>Loaded Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> Monthly Management</td>
                <td class="rightAlign"> 500</td>
                <td class="rightAlign"> N/A</td>
                <td class="rightAlign"> N/A</td>
                <td> R60.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Concessions table -->

  <div class="col-md-7 search-and-results-container" id="lending-search-container">
    <div class="input-group add-on">
      <input class="form-control" placeholder="Concession ID" name="srch-term" id="srch-term" type="text">
    </div>

    <div class="section">
      <div class="section-header small-table-title">
        <div class="concessionID-section"> 127</div>
      </div>
      <div class="section-body">
        <div class="table-container">
          <table class="table table-bordered table-hover header-fixed table-striped">
            <thead>
              <tr>
                <th>Customer</th>
                <th>Transaction Type</th>
                <th>Tariff Table</th>
                <th>Volume</th>
                <th>Value</th>
                <th>Price</th>
                <th>Concession ID</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p class="customerInfo">Tester Inc.</p>
                  <p class="accInfo">Acc No :1234</p>
                </td>
                <td class="rightAlign">Minimum Monthly Fee</td>
                <td class="rightAlign">502</td>
                <td class="rightAlign">N/A</td>
                <td class="rightAlign">N/A</td>
                <td>
                  <p class="mapInfo">Loaded:R0.00</p>
                  <p class="mapInfo">Approved:R60.00</p>
                </td>
                <td>127</td>
              </tr>
              <tr>
                <td>
                  <p class="customerInfo">Tester Inc.</p>
                  <p class="accInfo">Acc No :1234</p>
                </td>
                <td class="rightAlign">Cheque Issued</td>
                <td class="rightAlign">62</td>
                <td class="rightAlign">23</td>
                <td class="rightAlign">50,000</td>
                <td>
                  <p class="mapInfo">Loaded:R45.00</p>
                  <p class="mapInfo">Approved:R45.00</p>
                </td>
                <td>128</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>