<!DOCTYPE html>
<html lang="en">

<head>
    <title>Standard Bank Concession Management Tool </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../content/css/bootstrap.css">
    <link rel="stylesheet" href="../content/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../content/css/font-awesome.min.css">
    <link rel="stylesheet" href="../content/css/style.css">
</head>

<body>
    <div class="col-md-12 header">
        <div class="logo"></div>
    </div>
    <div class="col-md-12 nav-pills-container">
        <ul class="nav nav-pills">
            <li><a href="pending-inbox.html">Inbox</a></li>
            <li><a href="approved-concessions.html">Approved Concessions</a></li>
            <li><a href="conditions.html">Conditions</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li class="logout-li">
                <a href="#">
                    <div class="glyphicon glyphicon-log-out"></div> Logout</a>
            </li>
        </ul>
    </div>

    <!-- summary bar -->
    <div class="col-md-12 lending-view-banner">
        <div class="row">
            <div class="lending-banner-title">
                <div class="col-md-1">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 
                    <span class="back-button-text" onclick="location.href = 'transactional.html'">Back</span>
                </div>
                <div class="col-md-10 banner-main-title">
                    <i class="fa fa-exchange" aria-hidden="true"></i> Transactional
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-12 lending-banner">
                <div class="col-md-11">
                    <div>
                        <div class="col-md-5">
                            <div class="subHeading">EDCON</div>
                            <div class="date lightTitle hidden-element">1989</div>
                        </div>
                        <div class="col-md-2  hidden-element">
                            <div class="subHeading lightTitle"> Latest CRS / MRS</div>
                            <div class="score"><b>0.00</b></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="compress">
                        <div onclick="hideElement('hidden-element')">
                            <i class="fa fa-compress" aria-hidden="true" id="compress-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Form entries -->

    <form class="col-md-12 concession-information-form">
        <div class="col-md-4">
            <div class="row">
                <label>MRS/CRS</label>
                <input class="col-md-12">
            </div>
            <div class="row">
                <label>SMT Deal Number</label>
                <input class="col-md-12">
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="row">
                <label>Motivation</label>
                <input class="col-md-12 large-input">
            </div>
        </div>
    </form>

    <form class="col-md-12">
        <div class="concessions-top">
            <div class="concessions-top-title">
                <h3 class="table-title">Concessions</h3>
                <button type="button" class="btn btn-default">New Concession</button>
            </div>
        </div>

        <table class="form-concessions-table">
            <thead class="form-concessions-table-headings">
                <tr>
                    <th>Transaction Type</th>
                    <th>Account Number</th>
                    <th>Flat Fee/Rate</th>
                    <th>Ad Valorem</th>
                    <th>Table Number</th>
                    <th>Approved Date</th>
                    <th>Expiry Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="form-concessions-table-content">
                <tr>
                    <td class="length-long"><input value="CEF"></td>
                    <td class="length-long">
                        <select>
                            <option>1234</option>
                        </select>
                    </td>
                    <td class="length-long"><input value="50,000.00"></td>
                    <td class="length-medium"><input value="1"></td>
                    <td class="length-long"><input></td>
                    <td class="length-long"><input type="date"></td>
                    <td class="length-long"><input type="date"></td>
                    <td class="delete"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </form>

    <div class="col-md-12 conditions">
        <div class="concessions-top">
            <div class="concessions-top-title">
                <h3 class="table-title">Conditions</h3>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#manageConditions" data-backdrop="static">Manage Conditions</button>
                <!-- modal content -->

                <div id="manageConditions" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="model-content">
                            <div class="col-md-12 modal-header">
                                <h4>Manage Conditions</h4>
                            </div>
                            <div class="col-md-12 modal-body">
                                <div class="row">
                                    <div class="col-md-12 modal-title">
                                        <button class="btn btn-default">New Conditions</button>
                                    </div>
                                </div>
                                <table class="form-concessions-table">
                                    <thead class="form-concessions-table-headings">
                                        <tr>
                                            <th>Condition ID</th>
                                            <th>Condition Type</th>
                                            <th>Value</th>
                                            <th>Volume</th>
                                            <th>Product</th>
                                            <th>MAP/RATE (If Applicable)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="form-concessions-table-content">
                                        <tr>
                                            <td class="length-short"><input class="rightAlign" value="1"></td>
                                            <td class="length-long"><input value="MIN AVG Balance"></td>
                                            <td class="length-long"><input value="20 000 000.00"></td>
                                            <td class="length-medium"><input value="1"></td>
                                            <td class="length-long"><input value="Cashman"></td>
                                            <td class="length-medium"><input class="" value="-4"></td>
                                            <td class="delete"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="length-short"><input class="rightAlign" value=""></td>
                                            <td class="length-long"><input value=""></td>
                                            <td class="length-long"><input value=""></td>
                                            <td class="length-medium"><input value=""></td>
                                            <td class="length-long"><input value=""></td>
                                            <td class="length-long"><input value=""></td>
                                            <td class="delete"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <form class="lending-bottom-buttons">
                                    <div class="float-right">
                                        <button class="btn btn-submit" type="submit">Submit</button>
                                        <button class="btn btn-cancel">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-body">
                <div class="table-container">
                    <table class="table table-bordered table-hover header-fixed table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Condition Type</th>
                                <th>Value</th>
                                <th>Volume</th>
                                <th>Product</th>
                                <th>MAP/Rate (If Applicable)</th>
                            </tr>
                        </thead>
                        <tbody class="secondary-text">
                            <td class="length-short">01</td>
                            <td>MIN AVG Balance</td>
                            <td>Cashman</td>
                            <td>4.5</td>
                            <td class="length-medium">1</td>
                            <td class="length-short rightAlign">-4</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <form class="col-md-12 lending-bottom-buttons">
        <div class="float-right">
            <button type="button" class="btn btn-cancel" onclick="location.href='transactional.html'">Cancel</button>
            <button class="btn btn-submit" type="submit">Submit</button>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../scripts/visual.js"></script>
</body>

</html>