<!-- Loading message -->
<div class="col-md-12" *ngIf="isLoading" style="margin-top: 15px;">
    <div class="form-feedback-container">
        <div class="alert-info">
            <p class="message-heading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>Loading...</p>
        </div>
    </div>
</div>

<!-- Error message -->
<div class="col-md-12" *ngIf="errorMessage && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-danger">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Error occurred. Please see error(s) below.</p>
            <p>{{errorMessage}}</p>
        </div>
    </div>
</div>

<!-- banner-->
<div class="col-md-12 banner" *ngIf="!isLoading">
    <div class="row">
        <!-- Header -->
        <div class="lending-banner-title">
            <div class="col-md-1">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                <span class="back-button-text" (click)="goBack()">Back</span>
            </div>
            <div class="col-md-10 banner-main-title">
                <i class="fa fa-handshake-o" aria-hidden="true"></i> Lending
            </div>
            <div class="col-md-1"></div>
        </div>

        <!-- Dashboard Expanded -->
        <div class="col-md-12 banner-container" *ngIf="showHide">
            <div class="col-md-11">
                <div class="col-md-5">
                    <div class="subHeading">{{lendingView.riskGroup.name}}</div>
                    <div class="date lightTitle hidden-element">{{lendingView.riskGroup.number}}</div>
                </div>
                <div class="col-md-2  hidden-element">
                    <div class="subHeading lightTitle">Total Exposure</div>
                    <div class="score"><b>{{lendingView.lendingFinancial.totalExposure | number : '1.2-2'}}</b></div>
                </div>
                <div class="col-md-2  hidden-element">
                    <div class="subHeading lightTitle"> Weighted Average MAP</div>
                    <div class="score"><b>{{lendingView.lendingFinancial.weightedAverageMap | number : '1.2-2'}}</b></div>
                </div>
                <div class="col-md-2  hidden-element">
                    <div class="subHeading lightTitle"> Weighted CRS / MRS</div>
                    <div class="score"><b>{{lendingView.lendingFinancial.weightedCrsOrMrs | number : '1.2-2'}}</b></div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="compress">
                    <div>
                        <i class="fa fa-compress" (click)="showHide = !showHide" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard Collapsed -->
        <div class="col-md-12 banner-container" *ngIf="!showHide">
            <div class="col-md-11">
                <div>
                    <div class="col-md-5">
                        <div class="subHeading">{{lendingView.riskGroup.name}}</div>
                        <div class="date lightTitle hidden-element">{{lendingView.riskGroup.number}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="compress">
                    <div>
                        <i class="fa fa-expand" (click)="showHide = !showHide" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- lending concessions and products-->
<div class="col-md-12" *ngIf="!isLoading">
    <div class="col-md-5">
        <h2 class="headings">Products</h2>
        <div class="section">

            <!-- Empty state for products if no data is found -->
            <div *ngIf="lendingView?.lendingProducts?.length == 0">
                <div class="section-body">
                    <div class="searchEmptyState">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        <p>No product data found</p>
                    </div>                    
                </div>
            </div>
            <!-- End of empty state -->

            <!-- Products list -->
            <div class="section-body" *ngFor="let lendingProduct of lendingView.lendingProducts; trackBy: index;">
                <div class="product-section">
                    <div class="product-name"> {{lendingProduct.customerName}}</div>
                    <div>
                        <div class="product-account">Account No: {{lendingProduct.accountNumber}}</div>
                        <div class="product-code">Product: {{lendingProduct.product}}</div>
                    </div>
                </div>
                <div class="product-table-container">
                    <table class="table table-bordered table-hover header-fixed table-striped ">
                        <thead>
                            <tr>
                                <th>Limit</th>
                                <th>Average Balance</th>
                                <th>Loaded MAP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="rightAlign"> {{lendingProduct.limit | number : '1.2-2'}}</td>
                                <td class="rightAlign"> {{lendingProduct.averageBalance | number : '1.2-2'}}</td>
                                <td class="rightAlign"> {{lendingProduct.loadedMap | number : '1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of products list -->

        </div>
    </div>

    <!-- Concessions list -->
    <div class="col-md-7 search-and-results-container" id="lending-search-container">
        <h2 class="headings">
            Concessions
            <button type="button" class="btn btn-primary btn-concession" [routerLink]="['/lending-add-concession', lendingView.riskGroup.number]" *ngIf="pageLoaded && canRequest">Add Concession</button>
        </h2>

        <!-- Search bar -->
        <div class="input-group add-on">
            <input class="form-control" placeholder="Search Concession ID" [(ngModel)]="filterConcessionId" type="text">
        </div>
        <div class="section" *ngFor="let lendingConcession of lendingView.lendingConcessions | baseConcessionFilter : filterConcessionId; trackBy: index;">
            <div class="section-header">
                <div class="concessionID-section">
                    <div class="concession-status">
                        <div [ngClass]="{'approved-status': (lendingConcession.concession.status==='Approved') || (lendingConcession.concession.status==='Approved With Changes'),'pending-status': lendingConcession.concession.status==='Pending', 'declined-status': lendingConcession.concession.status==='Declined'}">{{lendingConcession.concession.status}}</div>
                    </div>
                    <p class="concession-id">{{lendingConcession.concession.referenceNumber}}</p>
                    <div class="concession-sub-status">{{lendingConcession.concession.subStatus}}</div>                   
                </div>          
            </div>
            <div class="section-body">
                <div class="table-container" [routerLink]="['/lending-view-concession', lendingView.riskGroup.number, lendingConcession.concession.referenceNumber]">
                    <table class="table table-bordered table-hover header-fixed table-striped">
                        <thead>
                        <tr>
                            <th style="width: 25%;">Product</th>
                            <th style="width: 20%;">Customer</th>
                            <th style="width: 10%;">Limit</th>
                            <th style="width: 15%;">Average Balance</th>
                            <th style="width: 10%;">Term</th>
                            <th style="width: 20%;">MAP</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let concession of lendingConcession.lendingConcessionDetails; trackBy: index;">
                            <td>{{concession.productType}}</td>
                            <td>
                                <p class="customerInfo">{{concession.customerName}}</p>
                                <p class="accInfo">Acc No : {{concession.accountNumber}}</p>
                            </td>
                            <td class="rightAlign">{{concession.limit | number : '1.2-2'}}</td>
                            <td class="rightAlign">{{concession.averageBalance | number : '1.2-2'}}</td>
                            <td class="rightAlign">{{concession.term}}</td>
                            <td>
                                <p class="mapInfo">Loaded:{{concession.loadedMap | number : '1.2-2'}}</p>
                                <p class="mapInfo">Approved:{{concession.approvedMap | number : '1.2-2'}}</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Empty state if no concessions found -->
        <div class="searchEmptyState" *ngIf="(lendingView.lendingConcessions | baseConcessionFilter: filterConcessionId).length === 0">
            <i class="fa fa-inbox" aria-hidden="true"></i>
            <p>No concessions found matching your search</p>
        </div>

    </div>
</div>
