<div class="col-md-12 search-and-results-container">
  <!-- Search bar -->
  <div class="input-group add-on">
    <input class="form-control" placeholder="Search Concession ID or Risk Group Number" name="srch-term" id="srch-term" type="text">
  </div>
  <!-- search results -->

  <div class="section table-hover-highlight">
    <div class="col-md-12 section-header">
      <div class="concessionID-section">
        <div class="col-md-2 no-padding-left">
          <div class="col-md-1 no-padding-left vertical-align-center">
            <input type="checkbox">
          </div>
          <div class="col-md-10 no-padding-left">
            <div class="concession-name">EDCON</div>
            <div>1989</div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="single-print"><i class="fa fa-print" aria-hidden="true"></i></div>
        </div>
        <div class="col-md-10 no-padding-left">
          <div class="col-md-2 no-padding-left">
            Concession ID :ED0023
          </div>
          <div class="col-md-2">
            Segment:Expert
          </div>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="table-container">
        <table class="table table-bordered table-hover header-fixed table-striped">
          <thead>
            <tr>
              <th>Customer</th>
              <th>Type</th>
              <th>Status</th>
              <th>Date Opened</th>
              <th>Date Sent For Approval</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> CNA </td>
              <td>Lending</td>
              <td>Approved</td>
              <td>2017/05/02 </td>
              <td> 2017/05/03 </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="section table-hover-highlight">
    <div class="col-md-12 section-header">
      <div class="concessionID-section">
        <div class="col-md-2 no-padding-left">
          <div class="col-md-1 no-padding-left vertical-align-center">
            <input type="checkbox">
          </div>
          <div class="col-md-10 no-padding-left">
            <div class="concession-name">APPLE</div>
            <div>1989</div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="single-print"><i class="fa fa-print" aria-hidden="true"></i></div>
        </div>
        <div class="col-md-10 no-padding-left">
          <div class="col-md-2 no-padding-left">
            Concession ID :AP0023
          </div>
          <div class="col-md-2">
            Segment:Expert
          </div>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="table-container">
        <table class="table table-bordered table-hover header-fixed table-striped">
          <thead>
            <tr>
              <th>Customer</th>
              <th>Type</th>
              <th>Status</th>
              <th>Date Opened</th>
              <th>Date Sent For Approval</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> CNA </td>
              <td>Lending</td>
              <td>Approved</td>
              <td>2017/05/02 </td>
              <td> 2017/05/03 </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- footer-->
  <div class="concession-footer">
    <!--print button-->
    <button type="button" class="btn btn-print">
      <i class="fa fa-print" aria-hidden="true"></i> Print 1 Files
    </button>
    <!-- pagination-->
    <ul class="pagination">
      <li><a href="#">First</a></li>
      <li><a href="#">Prev</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">Next</a></li>
      <li><a href="#">Last</a></li>
    </ul>
  </div>
</div>