<div class="row row-padding">
    
                <div class="col-md-12">

                    <div class="col-md-6">

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Weighted Average Branch Price </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.WeightedAverageBranchPrice" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Total Cash Centre Turnover </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalCashCentreTurnover" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small">Total Cash Centre Volume </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalCashCentreVolume" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                    </div>




                    <div class="col-md-6">

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Total Autosafe Cash Turnover </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalAutosafeCashTurnover" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Total Autosafe Cash  Volume </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalAutosafeCashVolume" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small">Weighted Average CC Price </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.WeightedAverageCashCentrePrice " class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small">Weighted Average AF Price </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.WeightedAverageAutoSafePrice " class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

        
</div>