<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body style="font-family:Arial; margin: 0;">

    <div style="background-color: #1f3c5a; color: white; padding: 10px; text-align:center; font-size: 22px;">
        Concession Management System Notification
    </div>

    <div style="padding: 15px">
        <p>Dear @Model.Name,</p>
        <p>Please be advised that a concession you applied for has been <span style="color: #e66c00;font-weight: bold;">approved with changes</span>. Please check your inbox for the details of the concession.</p>

        <p>Concession Summary:</p>
        <hr>
        <table>
            <tr>
                <td>Date of request:</td>
                <td></td>
            </tr>
            <tr>
                <td>Date actioned:</td>
                <td></td>
            </tr>
            <tr>
                <td>Risk group name:</td>
                <td></td>
            </tr>
            <tr>
                <td>Concession ID:</td>
                <td>@Model.ConcessionId</td>
            </tr>
            <tr>
                <td>Product:</td>
                <td></td>
            </tr>
        </table>

        <p>Regards,</p>
        <p>Concession management system</p>

        <p style="font-style: italic;">Please do not reply to this email.</p>
    </div>

</body>
</html>
