<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

</head>
<body>


    <table style="height:350px; border:solid;background-color: transparent;width:700px !important;border-width:thin;border-color:rgb(66, 139, 202); font:Helvetica Neue,Helvetica,Arial,sans-serif">
        <thead style="width:100%; background-color:rgb(66, 139, 202);height:30px;">

            <tr>
                <th colspan="2">
                    <!--Complaint re-assigned-->

                    <h3 style="font:Helvetica Neue,Helvetica,Arial,sans-serif; color:white">
                        Pricing Tool Notification
                    </h3>
                </th>
            </tr>

        </thead>
        <tbody>

            <tr style="padding-top:15px;padding-bottom:15px;">
                <td colspan="2">
                    Dear  @Model.Name,
                </td>

            </tr>

            <tr style="padding-top:15px;padding-bottom:15px;">
                <td style="width:150px"> Concession ID</td>
                <td>
                    <strong> {1}</strong>
                </td>

            </tr>
            


            <tr>
                <td colspan="2">
                    Please be advised that a concession has been assigned assigned to you. Please view your open pending  concessions
                </td>

            </tr>           

            <tr style="padding-top:15px;padding-bottom:15px;">
                <td colspan="2">
                    Regards,
                </td>

            </tr>

            <tr>
                <td colspan="2">
                    Pricing Tool
                </td>

            </tr>

            <tr style="padding-top:15px;padding-bottom:15px;">
                <td colspan="2">
                    Please do not reply to this e-mail.
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>

            </tr>

        </tbody>


    </table>


</body>
</html>
