@model dynamic
<body style="font-family:Arial; margin: 0;">

    <div style="background-color: #1f3c5a; color: white; padding: 10px; text-align:center; font-size: 22px;">
        Concession Management System SAP Data Import Issues
    </div>

    <div style="padding: 15px">
        <p>
            Please be advised that the following data issues were found after importing the SAP data file :
            <br /><br />
            <table style=" border-collapse: collapse; border: 1px solid black; padding: 2px;">
                <tr>
                    <th style="border: 1px solid black;">Column</th>
                    <th style="border: 1px solid black;">Issue</th>
                </tr>

                @foreach (var item in Model.SapDataImportIssues)
                {
                    <tr>
                        <td style="border: 1px solid black;">@item.Column</td>
                        <td style="border: 1px solid black;">@item.Issue</td>
                    </tr>
                }

            </table>

        <p>Regards,</p>
        <p>Concession Management System</p>

        <p style="font-style: italic;">Please do not reply to this email.</p>
    </div>

</body>
