<!-- Success message -->
<div class="col-md-12" *ngIf="success" style="margin-top:15px;">
    <div class="form-feedback-container">
        <div class="alert-success">
            <p class="message-heading"><i class="fa fa-check-circle" aria-hidden="true"></i>User updated successfully</p>
        </div>
    </div>
</div>

<!-- Error message -->
<div class="col-md-12" *ngIf="error" style="margin-top:15px;">
    <div class="form-feedback-container">
        <div class="alert-danger">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>User update failed</p>
            <p>{{errorMessage}}</p>

            <ul *ngIf="validationError">
                <li *ngFor="let validationMessage of validationError">{{validationMessage}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-2" style="margin-top: 15px;">
    <i class="fa fa-chevron-circle-left" aria-hidden="true" style="font-size: 1.1em;"></i>
    <span class="back-button-text" style="font-size: 1.1em;" (click)="goBack()">Users</span>
</div>

<div class="col-md-12" style="margin-top: 20px;">
    <div class="form-horizontal">
        <div class="row">
            <!-- Left side -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-2" for="email">A Number</label>
                    <div class="col-sm-8">
                        <input type="text" required class="form-control" name="7" [(ngModel)]="user.aNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="email">Name</label>
                    <div class="col-sm-8">
                        <input type="text" required class="form-control" name="6" [(ngModel)]="user.firstName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="email">Surname</label>
                    <div class="col-sm-8">
                        <input type="text" required class="form-control" name="5" [(ngModel)]="user.surname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="email">Email</label>
                    <div class="col-sm-8">
                        <input type="email" required class="form-control" name="4" [(ngModel)]="user.emailAddress">
                    </div>
                </div>
            </div>
            <!-- Right side -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3" for="email">Role</label>
                    <div class="col-sm-8">
                        <select [(ngModel)]="user.roleId" name="3" class="form-control">
                            <option *ngFor="let p of Roles"
                                    [ngValue]="p.id">
                                {{p.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="email">Business Centre</label>
                    <div class="col-sm-8">
                        <select [(ngModel)]="user.centreId" name="2" class="form-control">
                            <option *ngFor="let p of Centres"
                                    [ngValue]="p.id">
                                {{p.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="email">Region</label>
                    <div class="col-sm-8">
                        <select [(ngModel)]="user.regionId" name="1" class="form-control">
                            <option *ngFor="let p of Regions"
                                    [ngValue]="p.id">
                                {{p.description}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-buttons">
            <div class="float-right">
                <button type="button" (click)="goBack()" class="btn btn-cancel">Close</button>
                <button type="button" (click)="save()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

