<div class="row row-padding">

                <div class="col-md-12">
                    <div class="col-md-12">

                        <div class="row row-padding">

                            <div class="col-md-4">
                                <label class="small"> Total Liability Balances </label>
                            </div>

                            <div class="col-md-8">
                                <input ng-model="FinancialInfo.TotalLiabilityBalance" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="row row-padding">

                            <div class="col-md-4">
                                <label class="small"> Weighted Average MTP </label>
                            </div>

                            <div class="col-md-8">
                                <input ng-model="FinancialInfo.WeightedAverageMTP" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">

                        <div class="row row-padding">

                            <div class="col-md-4">
                                <label class="small">Weighted Average Net margin </label>
                            </div>

                            <div class="col-md-8">
                                <input ng-model="FinancialInfo.WeightedAverageNetMargin" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
       