  <!-- Total widgets -->
<div class="col-md-12">
  <div class="totalsWidget outer ">
    <div class="activeWidget">
      <div class="cornered">
        <p>Standard</p>
      </div>
      <div class="main">
        <p>27</p>
      </div>
    </div>
  </div>
  <div class="totalsWidget outer" style="margin-left: 20px;">
    <div class="cornered">
      <p>Ongoing</p>
    </div>
    <div class="main">
      <p>13</p>
    </div>
  </div>

</div>
<div class="col-md-12 search-and-results-container">
  <!-- Search bar -->
  <div class="input-group add-on">
    <input class="form-control" placeholder="Search Concession ID or Risk Group Number" name="srch-term" id="srch-term" type="text">
  </div>
  <!-- filter-->
  <div class="form-group  filter-group">
    <div id="filter"><label for="sort" class="col-sm-1 control-label"> Filter</label></div>
    <div class="col-sm-2">
      <select class="form-control">
        <option>3 Months</option>
        <option>6 Months</option>
      </select>
    </div>
  </div>

  <!-- Results table -->
  <div class="table-container">
    <table class="table table-bordered table-hover header-fixed table-striped">
      <thead>
        <tr>
          <th>Risk Group Number</th>
          <th>Customer</th>
          <th>Concession ID</th>
          <th>Condition Type</th>
          <th>Expected Turnover</th>
          <th>Interest</th>
          <th>Volume</th>
          <th>Value</th>
          <th>Condition Met</th>
        </tr>
      </thead>
      <tbody>
        <tr class="status-red">
          <td>
            <div class="customerName">APPLE</div>
            <div>1989</div>
          </td>
          <td>
            <div>Mac</div>
            <div>Cashman</div>
          </td>
          <td> L00000</td>
          <td>
            Full Transaction
          </td>
          <td>100 000000</td>
          <td>0.5</td>
          <td>
            5000 00
          </td>
          <td>500 0000</td>
          <td>
            <button type="button" class="btn btn-no">No</button> <button type="button" class="btn btn-yes">Yes</button>
          </td>
        </tr>
        <tr class="status-green">
          <td>
            <div class="customerName">EDCON</div>
            <div>1989</div>
          </td>
          <td>
            <div>CNA</div>
            <div>overdraft</div>
          </td>
          <td> L00000</td>
          <td>Cash Turnover</td>
          <td>100 000000</td>
          <td>0.5</td>
          <td> 5000 00</td>
          <td>500 0000</td>
          <td>
            <button type="button" class="btn btn-no">No</button> <button type="button" class="btn btn-yes">Yes</button>
          </td>

        </tr>
        <tr class="status-yellow">
          <td>
            <div class="customerName">EDCON</div>
            <div>1989</div>
          </td>
          <td>
            <div>CNA</div>
            <div>overdraft</div>
          </td>
          <td> L00000</td>
          <td>Cash Turnover</td>
          <td>100 000000</td>
          <td>0.5</td>
          <td> 5000 00</td>
          <td>500 0000</td>
          <td>
            <button type="button" class="btn btn-no">No</button>
            <button type="button" class="btn btn-yes">Yes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="concession-footer">
    <!--print button-->
    <button type="button" class="btn btn-print">
      <i class="fa fa-print" aria-hidden="true"></i> Print 1 Files
    </button>
    <!-- pagination-->
    <ul class="pagination">
      <li><a href="#">First</a></li>
      <li><a href="#">Prev</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">Next</a></li>
      <li><a href="#">Last</a></li>
    </ul>
  </div>
</div>