@model dynamic
<body style="font-family:Arial; margin: 0;">

    <div style="background-color: #1f3c5a; color: white; padding: 10px; text-align:center; font-size: 22px;">
        Concession Management System Notification
    </div>

    <div style="padding: 15px">
        <p>Dear @Model.Name,</p>
        <p>Please be advised that the following concessions are expiring in 3 months :
        <br />
        <table style=" border-collapse: collapse;border: 1px solid black">
            <tr>
                <td style="border: 1px solid black;">Concession</td>

            </tr>

          @foreach (var item in Model.Concessions)
          {
              <tr>
                  <td style="border: 1px solid black;">@item</td>
                
              </tr>
          }

        </table>

        <p>Regards,</p>
        <p>Concession management system</p>

        <p style="font-style: italic;">Please do not reply to this email.</p>
    </div>

</body>