<div class="row row-padding">
    
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Total Credit Turnover</label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalCreditTurnover" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Total Credit Turnover</label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalDebitTurnover" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>                      
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Weighted Average Price</label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.WeightedAveragePrice" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
