

            <div class="row" >

                <div class="col-md-12">

                    <div class="col-md-6">

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Total Payments </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalPayments" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small"> Total Collections </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalCollections" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small">Total Value Added Transactions </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.TotalValueAddedTransactions" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>

                    </div>




                    <div class="col-md-6">

                        <div class="col-md-12">

                            <div class="row row-padding">

                                <div class="col-md-4">
                                    <label class="small">Weighted Average Price  </label>
                                </div>

                                <div class="col-md-8">
                                    <input ng-model="FinancialInfo.WeightedAveragePrice" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>



                    </div>

                </div>

            </div>
       