<!-- Banner expanded -->
<div class="col-md-12 banner">
    <div class="row">
        <!-- Header -->
        <div class="lending-banner-title">
            <div class="col-md-1">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                <span class="back-button-text" (click)="goBack()">Back</span>
            </div>
            <div class="col-md-10 banner-main-title">
                <i class="fa fa-line-chart" aria-hidden="true"></i> Trade
            </div>
            <div class="col-md-1"></div>
        </div>
        <!-- Dashboard Expanded -->
        <div class="col-md-12 banner-container" *ngIf="showHide">
            <div class="col-md-11">
                <div class="col-md-5">
                    <div class="subHeading">{{tradeView.riskGroup.name}}</div>
                    <div class="date lightTitle hidden-element">{{tradeView.riskGroup.number}}</div>

                </div>
                <div class="col-md-2  hidden-element">
                    <div class="subHeading lightTitle"> Total number of accounts</div>
                    <div class="score"><b>{{tradeView.tradeFinancial.totalAccounts | number : '1.2-2'}}</b></div>
                </div>
                <div class="col-md-2  hidden-element">
                    <div class="subHeading lightTitle"> Average account management fee</div>
                    <div class="score"><b>{{tradeView.tradeFinancial.avgFee | number : '1.2-2'}}</b></div>
                </div>
                <div class="col-md-2  hidden-element">
                    <div class="subHeading lightTitle"> Overall forex margin</div>
                    <div class="score"><b>{{tradeView.tradeFinancial.overallForexMargin | number : '1.2-2'}}</b></div>
                </div>
            </div>
         

            <div class="col-md-1">
                <div class="compress">
                    <div>
                        <i class="fa fa-compress" (click)="showHide = !showHide" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard Collapsed -->
        <div class="col-md-12 banner-container" *ngIf="!showHide">
            <div class="col-md-11">
                <div>
                    <div class="col-md-5">
                        <div class="subHeading">{{tradeView.riskGroup.name}}</div>
                        <div class="date lightTitle hidden-element">{{tradeView.riskGroup.number}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="compress">
                    <div>
                        <i class="fa fa-expand" (click)="showHide = !showHide" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>

<!-- lending concessions and products-->
<div class="col-md-12">
    <div class="col-md-6 search-and-results-container">
        <h2 class="headings">Products</h2>
        <div class="section">

            <!-- End of products list -->
            <!-- Empty state for products if no data is found -->
            <div *ngIf="!tradeView?.tradeProductGroups || tradeView?.tradeProductGroups?.length == 0">
                <div class="section-body">
                    <div class="searchEmptyState">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        <p>No product data found</p>
                    </div>
                </div>
            </div>


            <!-- Products grouping -->

            <div class="section-body" *ngFor="let tradeprodgroup of tradeView.tradeProductGroups">

                <div class="product-section">
                    <div class="product-name">{{tradeprodgroup.legalEntity}}</div>

                </div>

                <!-- Products list -->
                <div class="section-body">

                    <div class="product-table-container">
                        <table class="table table-bordered table-hover header-fixed table-striped ">
                            <thead>
                                <tr>
                                    <th>Account(No.)</th>
                                    <th>Product </th>
                                    <th>Type</th>
                                    <th>Loaded Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tradeprod of tradeprodgroup.tradeProducts">
                                    <td class="leftAlign">{{tradeprod.accountNumber}}</td>
                                    <td class="leftAlign">{{tradeprod.tradeProductType}}</td>
                                    <td class="leftAlign">{{tradeprod.tradeProductName}}</td>

                                    <td class="rightAlign">{{tradeprod.loadedRate| number : '1.5-5'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

            <!-- Products list -->
            <!--<div class="section-body" *ngFor="let tradeprod of tradeView.tradeProducts">
                <div class="product-section">
                    <div class="product-name">{{tradeprod.legalEntity}}</div>
                    <div>
                        <div class="product-account">Account ID: {{tradeprod.accountNumber}}</div>

                    </div>
                </div>
                <div class="product-table-container">
                    <table class="table table-bordered table-hover header-fixed table-striped ">
                        <thead>
                            <tr>
                                <th>Product </th>
                                <th>Type</th>
                                <th>Account(No.)</th>
                                <th>Loaded Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="leftAlign">{{tradeprod.tradeProductName}}</td>
                                <td class="leftAlign">{{tradeprod.tradeProductType}}</td>
                                <td class="leftAlign">{{tradeprod.accountNumber}}</td>
                                <td class="rightAlign">{{tradeprod.loadedRate| number : '1.5-5'}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>-->


        </div>
    </div>

    <!-- Concessions list -->
    <div class="col-md-6 search-and-results-container" id="lending-search-container">
        <h2 class="headings">
            Concessions

            <button type="button" class="btn btn-primary btn-concession" [routerLink]="['/trade-add-concession', tradeView.riskGroup.number]" *ngIf="pageLoaded && canRequest">Add Concession</button>
        </h2>


        <div class="input-group add-on">
            <input class="form-control" placeholder="Concession ID" [(ngModel)]="filterConcessionId" type="text">
        </div>

        <div class="section" *ngFor="let tradeConcession of tradeView.tradeConcessions | baseConcessionFilter : filterConcessionId; trackBy: index;">
            <div class="section-header">
                <div class="concessionID-section">
                    <div class="concession-status">
                        <div [ngClass]="{'approved-status': (tradeConcession.concession.status==='Approved') || (tradeConcession.concession.status==='Approved With Changes'),'pending-status': tradeConcession.concession.status==='Pending', 'declined-status': tradeConcession.concession.status==='Declined'}">{{tradeConcession.concession.status}}</div>
                    </div>
                    <p class="concession-id">{{tradeConcession.concession.referenceNumber}}</p>
                    <div class="concession-sub-status">{{tradeConcession.concession.subStatus}}</div>
                </div>
            </div>
            <div class="section-body">
                <div class="table-container" [routerLink]="['/trade-view-concession', tradeView.riskGroup.number, tradeConcession.concession.referenceNumber]">
                    <table class="table table-bordered table-hover header-fixed table-striped">
                        <thead>
                            <tr>
                                <th>Legal Entity</th>
                                <th>Product</th>
                                <th>Type</th>
                                <th>Account(No.)</th>
                                <th>Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let concession of tradeConcession.tradeConcessionDetails; trackBy: index;">
                                <td>{{concession.legalEntity}}</td>
                                <td class="leftAlign">{{concession.tradeProductType}}</td>
                                <td class="leftAlign">{{concession.tradeProduct}}</td>

                                <td class="rightAlign">{{concession.accountNumber}}</td>
                                <td>
                                    <p class="mapInfo">Loaded:{{concession.loadedRate | number : '1.5-5'}}</p>
                                    <p class="mapInfo">Approved:{{concession.approvedRate| number : '1.5-5'}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <div class="searchEmptyState" *ngIf="(tradeView.tradeConcessions | baseConcessionFilter: filterConcessionId).length === 0">
            <i class="fa fa-inbox" aria-hidden="true"></i>
            <p>No concessions found matching your search</p>
        </div>

    </div>
</div>
