<!-- Banner expanded -->
<div class="col-md-12 banner">
    <div class="row">
        <div class="lending-banner-title">
            <div class="col-md-1">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                <span class="back-button-text" (click)="goBack()">Back</span>
            </div>
            <div class="col-md-10 banner-main-title">
                <i class="fa fa-handshake-o" aria-hidden="true"></i> View Lending Concession - {{concessionReferenceId}}
                <span class="label label-warning" style="float: right;">{{lendingConcession?.concession?.status}} - {{lendingConcession?.concession?.subStatus}}</span>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!-- Dashboard Expanded -->
        <div class="col-md-12 banner-container" *ngIf="showHide">
            <div class="col-md-11">
                <div class="col-md-2">
                    <div class="subHeading">{{riskGroup?.name}}</div>
                    <div class="date lightTitle hidden-element">{{riskGroup?.number}}</div>
                    <div class="requestor"><i class="fa fa-user-circle-o" aria-hidden="true"></i><button (click)="viewRequesterModal.show()">{{lendingConcession?.concession?.requestor?.fullName}}</button></div>
                </div>
                <div class="col-md-2  hidden-element">
                    <div class="subHeading lightTitle">Total Exposure</div>
                    <div class="score"><b>{{lendingFinancial?.totalExposure | number : '1.2-2'}}</b></div>
                </div>
                <div class="col-md-2  hidden-element">
                    <div class="subHeading lightTitle"> Weighted Average MAP</div>
                    <div class="score"><b>{{lendingFinancial?.weightedAverageMap | number : '1.2-2'}}</b></div>
                </div>
                <div class="col-md-2  hidden-element">
                    <div class="subHeading lightTitle"> Weighted CRS / MRS</div>
                    <div class="score"><b>{{lendingFinancial?.weightedCrsOrMrs | number : '1.2-2'}}</b></div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="compress">
                    <div>
                        <i class="fa fa-compress" (click)="showHide = !showHide" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard Collapsed -->
        <div class="col-md-12 banner-container" *ngIf="!showHide">
            <div class="col-md-11">
                <div>
                    <div class="col-md-5">
                        <div class="subHeading">{{riskGroup?.name}}</div>
                        <div class="date lightTitle hidden-element">{{riskGroup?.number}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="compress">
                    <div>
                        <i class="fa fa-expand" (click)="showHide = !showHide" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Requester modal content -->
<div bsModal #viewRequesterModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewRequesterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="requestor-modal">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <p class="name">{{lendingConcession?.concession?.requestor?.fullName}}</p>
                <p class="anumber">{{lendingConcession?.concession?.requestor?.aNumber}}</p>
                <p>{{lendingConcession?.concession?.requestor?.selectedCentre?.name}}</p>
                <p>{{lendingConcession?.concession?.requestor?.selectedRegion?.description}}</p>
                <button type="button" class="btn btn-primary" (click)="viewRequesterModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Error message -->
<div class="col-md-12" *ngIf="(errorMessage) && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-danger">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Error occurred. Please see error(s) below.</p>
            <p>{{errorMessage}}</p>

            <ul *ngIf="validationError">
                <li *ngFor="let validationMessage of validationError">{{validationMessage}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Error message -->
<div class="col-md-12" *ngIf="(validationError) && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-danger">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Below errors requires your attention..</p>
            <p>{{errorMessage}}</p>

            <ul *ngIf="validationError">
                <li *ngFor="let validationMessage of validationError | slice:0:1;">{{validationMessage}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Success message -->
<div class="col-md-12" *ngIf="saveMessage && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-success">
            <p class="message-heading"><i class="fa fa-check-circle" aria-hidden="true"></i>Concession submitted successfully with ID: {{saveMessage}}</p>
        </div>
    </div>
</div>

<!-- Warning message -->
<div class="col-md-12" *ngIf="warningMessage && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-warning">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{warningMessage}}</p>
        </div>
    </div>
</div>

<!-- Loading message -->
<div class="col-md-12" *ngIf="isLoading">
    <div class="form-feedback-container">
        <div class="alert-info">
            <p class="message-heading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>Loading</p>
        </div>
    </div>
</div>



<!-- Form entries -->
<form class="col-md-12 concession-information-form" [formGroup]="lendingConcessionForm" *ngIf="!isLoading">
    <div class="col-md-4">

        <div class="row">
            <!-- SMT deal number -->
            <label>SMT Deal Number</label>
            <input type="text" numbersOnly="true" class="form-control" [attr.disabled]="canEditSmtDealNumber()" formControlName="smtDealNumber" maxlength="16" required />
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
        <div class="row">
            <label>Prime</label>
            <input name="prime" value="{{primeRate}}" type="text" required class="form-control" disabled="disabled">
        </div>
        <div class="row">
            <!-- Motivation -->
            <label>Motivation</label>
            <textarea class="form-control large-input" [attr.disabled]="isMotivationEnabled()" maxlength="800" formControlName="motivation"></textarea>
        </div>

        <div class="row" *ngIf="canBcmApprove || canPcmApprove || canApproveChanges">
            <!-- Comments -->
            <label>Comments:</label>
            <textarea class="form-control large-input" formControlName="comments" placeholder="Comments"></textarea>

        </div>
    </div>

    <!-- Concession table -->
    <div class="col-md-12" style="border-bottom: 1px solid gray; margin-bottom: 15px;">
        <div class="row">
            <h3 class="table-title">Concessions</h3>
            <button type="button" class="btn btn-primary btn-concession" (click)="addNewConcessionRow()" *ngIf="canPcmApprove || isEditing || isRecalling" style="margin-top: 15px;">New Concession</button>
        </div>
    </div>


    <table class="form-concessions-table" formArrayName="concessionItemRows">
        <thead class="form-concessions-table-headings">
            <tr>
                <th>Product Type</th>
                <th>Account No</th>
                <th>Limit</th>
                <th>Term</th>
                <th>Prime(-/+) / Fixed rate</th>
                <th *ngIf="isApproved">Appr. Prime -/+</th>
                <th>Frequency</th>
                <th>Initiation Fee (%)</th>
                <th>Service Fee (%)</th>
                <th>Review Fee Type</th>
                <th>Review Fee (%)</th>
                <th>UFF Fee (%)</th>
                <th>Extension Fee (%)</th>
                <th>MRS/ERI</th>
                <th *ngIf="isApproved">Expiry Date</th>
                <th *ngIf="isApproved">Date Approved</th>
                <th></th>
                <th *ngIf="canArchive"></th>
                <th></th>
            </tr>
        </thead>

        <tbody class="form-concessions-table-content">
            <tr *ngFor="let itemrow of lendingConcessionForm.controls.concessionItemRows.controls; let i=index" [formGroupName]="i">
                <td class="length-short">
                    <input formControlName="lendingConcessionDetailId" style="display: none;" />
                    <input formControlName="concessionDetailId" style="display: none;" />
                    <input formControlName="isExpired" style="display: none;" />
                    <input formControlName="isExpiring" style="display: none;" />

                    <!-- Product type -->
                    <select formControlName="productType" class="form-control" [attr.disabled]="disableField(i,'productType')" (change)="productTypeChanged(i)" [class.markred]="bcmhochanged(i,'productType')">
                        <option *ngFor="let productTypeOption of productTypes" [ngValue]="productTypeOption">{{productTypeOption.description}}</option>
                    </select>
                </td>
                <td class="length-short">
                    <!-- Account number -->
                    <select formControlName="accountNumber" class="form-control" [attr.disabled]="disableField(i,'accountNumber')" [class.markred]="bcmhochanged(i,'accountNumber')">
                        <option *ngFor="let clientAccountOption of clientAccounts" [ngValue]="clientAccountOption">{{clientAccountOption.accountNumber}} - {{clientAccountOption.customerName}}</option>
                    </select>
                </td>
                <!-- Limit -->
                <td class="length-short">
                    <input type="text" numbersOnly="true" formControlName="limit" class="form-control" [attr.disabled]="disableField(i,'limit')"
                           (change)="setTwoNumberDecimal($event)" [class.markred]="bcmhochanged(i,'limit')" (click)="openTieredRateModal(i)" />
                </td>
                <!-- Term -->
                <td class="length-short">
                    <input type="text" numbersOnly="true" formControlName="term" class="form-control" [attr.disabled]="disableField(i,'term')"
                           [class.markred]="bcmhochanged(i,'term')" (keyup)="onTermValueChange(i)" />
                </td>
                <!-- MAP -->
                <td class="length-short">

                    <input type="text" formControlName="marginAgainstPrime" [attr.disabled]="disableField(i,'marginAgainstPrime')" (change)="setTwoNumberDecimalMAP($event)"
                           class="form-control" [class.markred]="bcmhochanged(i,'marginAgainstPrime')" (click)="openTieredRateModal(i)" />

                </td>
                <td class="length-short" *ngIf="isApproved"><input type="text" numbersOnly="true" formControlName="approvedMarginAgainstPrime" class="form-control" /></td>

                <!-- Frequency -->
                <td class="length-short">
                    <select formControlName="frequency" class="form-control" [attr.disabled]="disableField(i,'frequency')" [class.markred]="bcmhochanged(i,'frequency')">
                        <option>Monthly</option>
                        <option>Quarterly</option>
                        <option>Bi-annually </option>
                        <option>Annually </option>
                    </select>
                </td>

                <!-- Initiation fee -->
                <td class="length-short">
                    <input type="text" numbersOnly="true" formControlName="initiationFee" class="form-control" [attr.disabled]="disableField(i,'initiationFee')" (change)="setThreeNumberDecimal($event)" [class.markred]="bcmhochanged(i,'initiationFee')" />
                </td>

                <!-- Service fee -->
                <td class="length-short"><input type="text" numbersOnly="true" formControlName="serviceFee" class="form-control" [attr.disabled]="disableField(i,'serviceFee')" (change)="setThreeNumberDecimal($event)" [class.markred]="bcmhochanged(i,'serviceFee')" /></td>


                <td class="length-short">
                    <!-- Review fee type -->
                    <select formControlName="reviewFeeType" class="form-control" [attr.disabled]="disableField(i,'reviewFeeType')" [class.markred]="bcmhochanged(i,'reviewFeeType')">
                        <option *ngFor="let reviewFeeTypeOption of reviewFeeTypes" [ngValue]="reviewFeeTypeOption">{{reviewFeeTypeOption.description}}</option>
                    </select>
                </td>
                <!-- Review fee -->
                <td class="length-short"><input type="text" numbersOnly="true" formControlName="reviewFee" class="form-control" [attr.disabled]="disableField(i,'reviewFee')" (change)="setThreeNumberDecimal($event)" [class.markred]="bcmhochanged(i,'reviewFee')" /></td>
                <!-- uffFee -->
                <td class="length-short"><input type="text" numbersOnly="true" formControlName="uffFee" class="form-control" [attr.disabled]="disableField(i,'uffFee')" (change)="setThreeNumberDecimal($event)" [class.markred]="bcmhochanged(i,'uffFee')" /></td>
                <!-- Extension Fee -->
                <td class="length-short"><input type="text" numbersOnly="true" formControlName="extensionFee" class="form-control" [attr.disabled]="disableField(i,'extensionFee')" (change)="setThreeNumberDecimal($event)" [class.markred]="bcmhochanged(i,'extensionFee')" /></td>
                <!-- MRS/BRI -->
                <td class="length-short"><input type="text" numbersOnly="true" formControlName="mrsEri" class="form-control" maxlength="2" [attr.disabled]="disableField(i,'mrsEri')" /></td>

                <td class="length-short" *ngIf="isApproved"><input type="date" formControlName="expiryDate" class="form-control" [style.background-color]="getBackgroundColour(i)" [class.markred]="bcmhochanged(i,'expiryDate')" (change)="onExpiryDateChanged(i)" /></td>
                <td class="length-short" *ngIf="isApproved"><input type="date" formControlName="dateApproved" class="form-control" /></td>
                <td *ngIf="canArchive" class="delete">
                    <button *ngIf="lendingConcessionForm.controls.concessionItemRows.controls.length > 1" (click)="archiveConcessiondetail(itemrow.get('concessionDetailId').value)" class="btn-delete" title="Remove"><i class="fa fa-trash" aria-hidden="true" style="color:#920000"></i></button>
                </td>
                <td *ngIf="canBcmApprove || canPcmApprove || isEditing || isRecalling"><button type="button" *ngIf="lendingConcessionForm.controls.concessionItemRows.controls.length > 1" (click)="deleteConcessionRow(i)" class="btn-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                <td>
                    <input type="button" class="btn btn-primary line-item-button" value="Tiered Rate" *ngIf="showTieredRateButton(i)"
                           data-toggle="modal" data-target="#tieredRateModal" (click)="openTieredRateModal(i)" />
                </td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-12">
        <div class="row">
            <h3 class="table-title">Conditions</h3>
            <button type="button" class="btn btn-primary btn-concession" (click)="manageConditionsModal.show()" (click)="addNewConditionRowIfNone()" *ngIf="canPcmApprove || isEditing || isRecalling" style="margin-top: 15px;">Manage Conditions</button>

            <div class="table-container">
                <table class="table table-bordered table-hover header-fixed table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Condition Type</th>
                            <th>Product Type</th>
                            <th>Interest Rate</th>
                            <th>Volume</th>
                            <th>Value</th>
                            <th>Comment</th>
                            <th>Period</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="lendingConcessionForm.controls.conditionItemsRows.controls.length == 0">
                            <td colspan="8" class="searchEmptyState">
                                No conditions added.
                            </td>
                        </tr>
                        <tr *ngFor="let itemrow of lendingConcessionForm.controls.conditionItemsRows.controls; let i=index">
                            <td># {{i + 1}}</td>
                            <td>{{itemrow.get('conditionType').value?.description}}</td>
                            <td>{{itemrow.get('conditionProduct').value?.description}}</td>
                            <td><span *ngIf="itemrow.get('interestRate').value">{{itemrow.get('interestRate').value | number:'1.2-2'}}</span></td>
                            <td>{{itemrow.get('volume').value}}</td>
                            <td><span *ngIf="itemrow.get('value').value">{{itemrow.get('value').value | number:'1.2-2'}}</span></td>
                            <td>{{itemrow.get('conditionComment').value}}</td>
                            <td>{{itemrow.get('periodType').value?.description}} {{itemrow.get('period').value?.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- modal content -->
    <div bsModal #manageConditionsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="manageConditionsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <app-concession-condition-modal [selectedConditionTypes]="selectedConditionTypes"
                                                [concessionForm]="lendingConcessionForm"
                                                [conditionTypes]="conditionTypes"
                                                [periodTypes]="periodTypes"
                                                [periods]="periods"
                                                (myEvent)="validatePeriod($event)"></app-concession-condition-modal>

                <div class="modal-footer">
                    <div class="float-right">
                        <button type="button" class="btn btn-primary" (click)="manageConditionsModal.hide()">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3 class="table-title">Comments</h3>

            <div class="table-container">
                <table class="table table-bordered table-hover header-fixed table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Sub-Status</th>
                            <th>Comment</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!lendingConcession.concession.concessionComments || lendingConcession.concession.concessionComments.length == 0">
                            <td colspan="4" class="searchEmptyState">
                                No comments added.
                            </td>
                        </tr>
                        <tr *ngFor="let comment of lendingConcession.concession.concessionComments | commentsFilter : 'LogChanges';">
                            <td>{{comment.userDescription}}</td>
                            <td>{{comment.concessionSubStatusDescription}}</td>
                            <td>{{comment.comment}}</td>
                            <td>{{comment.systemDate | date: 'yyyy/MM/dd'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="table-title">Related Concessions</h3>

            <div class="table-container">
                <table class="table table-bordered table-hover header-fixed table-striped">
                    <thead>
                        <tr>
                            <th>Relationship Type</th>
                            <th>Parent Concession</th>
                            <th>Relationship</th>
                            <th>Child Concession</th>
                            <th>Date</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!lendingConcession.concession.concessionRelationshipDetails || lendingConcession.concession.concessionRelationshipDetails.length == 0">
                            <td colspan="6" class="searchEmptyState">
                                No related concessions.
                            </td>
                        </tr>
                        <tr *ngFor="let concessionRelationship of lendingConcession.concession.concessionRelationshipDetails">
                            <td>{{concessionRelationship.relationshipType}}</td>
                            <td>
                                <span *ngIf="concessionRelationship.parentConcessionReference == concessionReferenceId"><strong>**</strong></span>
                                <span *ngIf="concessionRelationship.parentIsActive"><a href="#" target="_blank" [routerLink]="['/lending-view-concession', riskGroupNumber, sapbpid, concessionRelationship.parentConcessionReference]">{{concessionRelationship.parentConcession}}</a></span>
                                <span *ngIf="!concessionRelationship.parentIsActive">{{concessionRelationship.parentConcession}}</span>
                            </td>
                            <td>{{concessionRelationship.relationship}}</td>
                            <td>
                                <span *ngIf="concessionRelationship.childConcessionReference == concessionReferenceId"><strong>**</strong></span>
                                <span *ngIf="concessionRelationship.childIsActive"><a href="#" target="_blank" [routerLink]="['/lending-view-concession', riskGroupNumber, sapbpid, concessionRelationship.childConcessionReference]">{{concessionRelationship.childConcession}}</a></span>
                                <span *ngIf="!concessionRelationship.childIsActive">{{concessionRelationship.childConcession}}</span>
                            </td>
                            <td>{{concessionRelationship.date | date: 'yyyy/MM/dd'}}</td>
                            <td>{{concessionRelationship.user}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="footer-buttons">
        <div class="float-right">
            <button type="button" class="btn btn-cancel" (click)="goBack()" *ngIf="!isRecalling">Close</button>
            <button type="button" class="btn btn-danger" (click)="bcmDeclineConcession()" *ngIf="canBcmApprove">Decline</button>
            <button type="button" class="btn btn-success" (click)="bcmApproveConcession()" *ngIf="canBcmApprove">Forward</button>
            <button type="button" class="btn btn-danger" (click)="pcmDeclineConcession()" *ngIf="canPcmApprove">Decline</button>
            <button type="button" class="btn btn-success" (click)="pcmApproveConcession()" *ngIf="canPcmApprove">Approve</button>
            <button type="button" class="btn btn-success" (click)="extensionDisclamer()" *ngIf="canExtend">Extend</button>

            <button type="button" class="btn btn-success" (click)="editConcession('Renew')" *ngIf="canRenew">Renew</button>
            <button type="button" class="btn btn-success" (click)="editConcession('Resubmit')" *ngIf="canResubmit">Resubmit</button>
            <button type="button" class="btn btn-success" (click)="editConcession('UpdateApproved')" *ngIf="canUpdate">Update</button>
            <button type="button" class="btn btn-warning" (click)="archiveConcession()" *ngIf="canArchive">Archive</button>

            <button type="button" class="btn btn-primary" (click)="saveConcession()" *ngIf="isEditing">Save</button>

            <button type="button" class="btn btn-success" (click)="recallConcession()" *ngIf="canRecall && !isRecalling">Recall</button>
            <button type="button" class="btn btn-primary" (click)="saveRecallConcession()" *ngIf="isRecalling">Save</button>
            <button type="button" class="btn btn-danger" (click)="requestorDeclineConcession()" *ngIf="canApproveChanges">Decline</button>
            <button type="button" class="btn btn-success" (click)="requestorApproveConcession()" *ngIf="canApproveChanges">Accept</button>

        </div>
    </div>

    <div bsModal #extendDisclamerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addAAModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="col-md-12 modal-header">
                    <h4>
                        Extension Disclaimer
                    </h4>
                </div>

                <div class="modal-body">
                    An extension Fee (as displayed on the concession) will be applied. Click submit to proceed.
                </div>

                <div class="modal-footer">
                    <button class="btn-primary btn" (click)="extendConcession()">Submit</button><button (click)="extensionDisclamerClose()" class="btn-primary btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<div bsModal #tieredRateModal="bs-modal" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="col-md-12 modal-header">
                <h4>Tiered Rates</h4>
            </div>
            <div class="col-md-12 modal-body">
                <div class="row" *ngIf="this.tieredRateMessage.length > 0">
                    <div class="alert alert-danger" role="alert">
                        {{tieredRateMessage}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 modal-title">
                        <button type="button" class="btn btn-primary" (click)="addNewTieredRateRow()" *ngIf="canEdit">Add Tiered Rate</button>
                    </div>
                </div>
                <table class="form-concessions-table" style="width:100%">
                    <thead class="form-concessions-table-headings">
                        <tr *ngIf="selectedLineItemTieredRates.length > 0">
                            <th>Limit</th>
                            <th>Prime(-/+) / Fixed rate</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="form-concessions-table-content">
                        <tr *ngIf="selectedLineItemTieredRates.length == 0">
                            <td colspan="3" class="searchEmptyState">
                                No tiered rates added
                            </td>
                        </tr>
                        <tr *ngFor="let lendingTieredRate of selectedLineItemTieredRates; let i=index">
                            <!-- Limit -->
                            <td style="width:40%"><input type="text" numbersOnly="true" class="form-control" [(ngModel)]="lendingTieredRate.limit" (change)="setTwoNumberDecimal($event)" [disabled]="!canEdit" /></td>
                            <!-- Prime -->
                            <td style="width:40%"><input type="text" class="form-control" [(ngModel)]="lendingTieredRate.marginToPrime" (change)="setTwoNumberDecimalMAP($event)" [disabled]="!canEdit" /></td>
                            <!-- Remove Row-->
                            <td style="width:10%"><button class="btn-delete" type="button" (click)="deleteTieredRateRow(i)" *ngIf="canEdit"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="tieredRateModal.hide()">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveTieredRates()" *ngIf="canEdit">Save</button>
            </div>
        </div>
    </div>
</div>

<p>&nbsp;</p>
