<div class="row row-padding">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-12">

                <div class="row row-padding">

                    <div class="col-md-4">
                        <label class="small"> Total Exposure </label>
                    </div>

                    <div class="col-md-8">
                        <input ng-model="FinancialInfo.TotalExposure" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">

                <div class="row row-padding">

                    <div class="col-md-4">
                        <label class="small"> Weighted average MAP </label>
                    </div>

                    <div class="col-md-8">
                        <input ng-model="FinancialInfo.WeightedAverageMAP" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>


            <div class="col-md-12">

                <div class="row row-padding">

                    <div class="col-md-4">
                        <label class="small"> Weighted CRS/MRS </label>
                    </div>

                    <div class="col-md-8">
                        <input ng-model="FinancialInfo.WeightedCRSOrMRS" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

