
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/dist/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>SIL Conduct Of Business</title>
</head>
<body>
    <br />


    <div class="row">

        <h1 class="page-header text-danger text-center">Access denied! </h1>
</div>
      
    <div class="form-horizontal text-center">

        <div class="text-danger">  <p style="font-weight:bold">You are not authorized to access the screen you tried to access. Please request access.</p> </div>
    </div>
</body>
</html>
