    <!-- summary bar -->

<div class="col-md-12 lending-view-banner">
    <div class="row">
        <div class="lending-banner-title">
            <div class="col-md-1">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                <span class="back-button-text" [routerLink]="['/pricing-lending', riskGroup.number]">Back</span>
            </div>
            <div class="col-md-10 banner-main-title">
                <i class="fa fa-handshake-o" aria-hidden="true"></i> Lending
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="col-md-12 lending-banner">
            <div class="col-md-11">
                <div>
                    <div class="col-md-5">
                        <div class="subHeading">{{riskGroup.name}}</div>
                        <div class="date lightTitle hidden-element">{{riskGroup.number}}</div>
                    </div>
                    <div class="col-md-2  hidden-element">
                        <div class="subHeading lightTitle"> Latest CRS / MRS</div>
                        <div class="score"><b>//TODO 0.00</b></div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="compress">
                    <div onclick="hideElement('hidden-element')">
                        <i class="fa fa-compress" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Form entries -->

<form class="col-md-12 concession-information-form" [formGroup]="lendingConcessionForm">
    <div class="col-md-4">
        <div class="row">
            <label>MRS/CRS</label>
            <input class="col-md-12" formControlName="mrsCrs" type="number" />
        </div>
        <div class="row">
            <label>SMT Deal Number</label>
            <input class="col-md-12" formControlName="smtDealNumber" maxlength="16" />
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <div class="row">
            <label>Motivation</label>
            <textarea class="col-md-12 large-input" maxlength="800" formControlName="motivation"></textarea>
        </div>
    </div>

    <div class="concessions-top">
        <div class="concessions-top-title">
            <h3 class="table-title">Concessions</h3>
            <button type="button" class="btn btn-default" (click)="addNewConcessionRow()">New Concession</button>
        </div>
    </div>

    <table class="form-concessions-table" formArrayName="concessionItemRows">
        <thead class="form-concessions-table-headings">
            <tr>
                <th>Product Type</th>
                <th>Account No</th>
                <th>Limit</th>
                <th>Term</th>
                <th>MAP</th>
                <th>Initiation Fee</th>
                <th>Review Fee</th>
                <th></th>
                <th>UFF Fee</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="form-concessions-table-content">
            <tr *ngFor="let itemrow of lendingConcessionForm.controls.concessionItemRows.controls; let i=index" [formGroupName]="i">
                <td class="length-long"><input value="VAF" formControlName="productType" /></td>
                <td class="length-long"><input value="12345" formControlName="accountNumber" /></td>
                <td class="length-long"><input value="5,000,000.00" formControlName="limit" /></td>
                <td class="length-short"><input value="60" formControlName="term" /></td>
                <td class="length-short"><input value="1" formControlName="marginAgainstPrime" /></td>
                <td class="length-long"><input formControlName="initiationFee" /></td>
                <td class="length-medium">
                    <select formControlName="reviewFeeType">
                        <option *ngFor="let reviewFeeTypeOption of reviewFeeTypes" [ngValue]="reviewFeeTypeOption.description">{{reviewFeeTypeOption.description}}</option>
                    </select>
                </td>
                <td class="length-medium"><input formControlName="reviewFee" /></td>
                <td class="length-medium"><input formControlName="uffFee" /></td>
                <td class="delete"><button *ngIf="lendingConcessionForm.controls.concessionItemRows.controls.length > 1" (click)="deleteConcessionRow(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-12 conditions">
        <div class="concessions-top">
            <div class="concessions-top-title">
                <h3 class="table-title">Conditions</h3>
                <button type="button" class="btn btn-default" (click)="manageConditionsModal.show()">Manage Conditions</button>

                <!-- modal content -->

                <div bsModal #manageConditionsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="manageConditionsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="col-md-12 modal-header">
                                <h4>Manage Conditions</h4>
                            </div>
                            <div class="col-md-12 modal-body">
                                <div class="row">
                                    <div class="col-md-12 modal-title">
                                        <button class="btn btn-default" (click)="addNewConditionRow()">New Conditions</button>
                                    </div>
                                </div>
                                <table class="form-concessions-table" formArrayName="conditionItemsRows">
                                    <thead class="form-concessions-table-headings">
                                        <tr>
                                            <th>Condition Type</th>
                                            <th>Product Type</th>
                                            <th>Interest Rate</th>
                                            <th>Volume</th>
                                            <th>Value</th>
                                            <th>Period Type</th>
                                            <th>Period</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="form-concessions-table-content">
                                        <tr *ngFor="let itemrow of lendingConcessionForm.controls.conditionItemsRows.controls; let i=index" [formGroupName]="i">
                                            <td class="length-long">
                                                <select formControlName="conditionType">
                                                    <option *ngFor="let conditionTypeOption of conditionTypes" [ngValue]="conditionTypeOption.description">{{conditionTypeOption.description}}</option>
                                                </select>
                                            </td>
                                            <td class="length-long">
                                                <select formControlName="productType">
                                                    <option *ngFor="let productTypeOption of productTypes" [ngValue]="productTypeOption.description">{{productTypeOption.description}}</option>
                                                </select>
                                            </td>
                                            <td class="length-medium"><input formControlName="interestRate" /></td>
                                            <td class="length-long"><input formControlName="volume" /></td>
                                            <td class="length-medium"><input formControlName="value" /></td>
                                            <td class="length-medium">
                                                <select formControlName="periodType">
                                                    <option *ngFor="let periodTypeOption of periodTypes" [ngValue]="periodTypeOption.description">{{periodTypeOption.description}}</option>
                                                </select>
                                            </td>
                                            <td class="length-medium">
                                                <select formControlName="period">
                                                    <option *ngFor="let periodOption of periods" [ngValue]="periodOption.description">{{periodOption.description}}</option>
                                                </select>
                                            </td>
                                            <td class="delete"><button *ngIf="lendingConcessionForm.controls.conditionItemsRows.controls.length > 1" (click)="deleteConditionRow(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <div class="float-right">
                                    <button class="btn btn-submit" type="submit">Submit</button>
                                    <button class="btn btn-cancel">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-body">
                <div class="table-container">
                    <table class="table table-bordered table-hover header-fixed table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Condition Type</th>
                                <th>Product Type</th>
                                <th>Interest Rate</th>
                                <th>Volume</th>
                                <th>Value</th>
                                <th>Period</th>
                            </tr>
                        </thead>
                        <tbody class="secondary-text">
                            <tr *ngFor="let itemrow of lendingConcessionForm.controls.conditionItemsRows.controls; let i=index">
                                <td># {{i + 1}}</td>
                                <td>{{itemrow.get('conditionType').value}}</td>
                                <td>{{itemrow.get('productType').value}}</td>
                                <td>{{itemrow.get('interestRate').value}}</td>
                                <td>{{itemrow.get('volume').value}}</td>
                                <td>{{itemrow.get('value').value}}</td>
                                <td>{{itemrow.get('periodType').value}} {{itemrow.get('period').value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="float-right">
        <button type="button" class="btn btn-cancel" routerLink="/pricing-lending">Cancel</button>
        <button class="btn btn-submit" type="submit">Submit</button>
    </div>
</form>

<!--<pre>{{lendingConcessionForm.value | json}}</pre>-->