<!DOCTYPE html>
<html lang="en">

<head>
  <title>Standard Bank Concession Management Tool </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../content/css/bootstrap.css">
  <link rel="stylesheet" href="../content/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../content/css/font-awesome.min.css">
  <link rel="stylesheet" href="../content/css/style.css">

  <link rel="icon" type="image/x-icon" href="../content/img/favicon.ico">
</head>

<body>
  <div class="col-md-12 header">
    <div class="logo"></div>
  </div>
  <div class="col-md-12 nav-pills-container">
    <ul class="nav nav-pills">
      <li><a href="pending-inbox.html">Inbox</a></li>
      <li><a href="approved-concessions.html">Approved Concessions</a></li>
      <li><a href="conditions.html">Conditions</a></li>
      <li class="selected-nav-item"><a href="pricing.html">Pricing</a></li>
      <li class="logout-li"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
  <!-- banner-->
  <div class="col-md-12 pricing-banner">
    <div class="col-md-1 pricing-user-image">
      <i class="fa fa-user-o" aria-hidden="true"></i>
    </div>
    <div class="col-md-3">
      <div class="pricing-form">
        <div class="row">
          <div class="col-sm-5">
            <p class="lightTitle">Region</p>
          </div>
          <div class="col-sm-6">
            <p>Some Region</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <p class="lightTitle">Business Unit</p>
          </div>
          <div class="col-sm-6">
            <p>Cape Town</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pricing-form">
        <div class="row">
          <div class="col-sm-3">
            <p class="lightTitle">Segment</p>
          </div>
          <div class="col-sm-6">
            <p>Expert</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p class="lightTitle">Province</p>
          </div>
          <div class="col-sm-6">
            <p>Northen Cape</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 search-and-results-container">
    <!-- Search bar -->
    <div class="input-group add-on">
      <input class="form-control" placeholder="Risk Group Number" name="srch-term" id="srch-term" type="text" onclick="location.href='pricing-results.html'">
      <div class="input-group-btn">
        <!-- updated search bar button -->
        <button class="btn btn-default-search" type="submit">Search</button>
      </div>
    </div>
  </div>
  <!-- Risk Group details -->
  <div class="col-md-12">
    <div class=searchEmptyState>
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <div>
        Enter risk group number to return customer products
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>