<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PricingConcessionsTool.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ActiveDirectorySoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10952iisprdsdc2/AD/ActiveDirectory.asmx"
                binding="basicHttpBinding" bindingConfiguration="ActiveDirectorySoap"
                contract="AD.ActiveDirectorySoap" name="ActiveDirectorySoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <PricingConcessionsTool.Services.Properties.Settings>
            <setting name="EmailHost" serializeAs="String">
                <value>00172msgjnb0001.za.sbicdirectory.com</value>
            </setting>
            <setting name="FromEmail" serializeAs="String">
                <value>PricingConcessionsTool@Standardbank.co.za</value>
            </setting>
            <setting name="EmailUserName" serializeAs="String">
                <value>sa180052</value>
            </setting>
            <setting name="EmailUserPassword" serializeAs="String">
                <value>L@XMa99</value>
            </setting>
            <setting name="SendEmails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConcessionLifetimeMonths" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LettersFolder" serializeAs="String">
                <value>GeneratedLetters</value>
            </setting>
        </PricingConcessionsTool.Services.Properties.Settings>
    </applicationSettings>
</configuration>