<!DOCTYPE html>
<html lang="en">

<head>
  <title>Standard Bank Concession Management Tool </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../content/css/bootstrap.css">
  <link rel="stylesheet" href="../content/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../content/css/font-awesome.min.css">
  <link rel="stylesheet" href="../content/css/style.css">

  <link rel="icon" type="image/x-icon" href="../content/img/favicon.ico">
</head>

<body>
  <div class="col-md-12 header">
    <div class="logo"></div>
  </div>
  <div class="col-md-12 nav-pills-container">
    <ul class="nav nav-pills">
      <li><a href="pending-inbox.html">Inbox</a></li>
      <li><a href="approved-concessions.html">Approved Concessions</a></li>
      <li><a href="conditions.html">Conditions</a></li>
      <li><a href="pricing.html">Pricing</a></li>
      <li class="logout-li"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>

  <!-- summary bar -->
  <div class="col-md-12 summary-banner">
    <div class="row">
      <div class="col-md-12 summary-banner-title">
        <div class="col-md-1">
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back
        </div>
        <div class="col-md-10 banner-main-title">
          <i class="fa fa-money" aria-hidden="true"></i> Cash
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 summary-main">
        <div class="col-md-3 summary-sub-title">
          <h5>EDCON</h5>
          <span class="lightText">1989</span>
        </div>
        <div class="col-md-3 summary-items">
          <p>
            <h5>CASHCENTR</h5>
            <span class="col-md-12 summary-items-sub">Turnover <span class="summary-item-value">0.00</span></span>
            <span class="col-md-12 summary-items-sub">Volume <span class="summary-item-value">0.00</span></span>
            <span class="col-md-12 summary-items-sub">Weighted Avg BRANCH Price <span class="col-md-12 summary-item-value">0.00</span></span>
          </p>
        </div>
        <div class="col-md-3 summary-items">
          <p>
            <h5>BRANCH</h5>
            <span class="col-md-12 summary-items-sub">Turnover <span class="summary-item-value">0.00</span></span>
            <span class="col-md-12 summary-items-sub">Volume <span class="summary-item-value">0.00</span></span>
            <span class="col-md-12 summary-items-sub">Weighted Avg BRANCH Price <span class="col-md-12 summary-item-value">0.00</span></span>
          </p>
        </div>
        <div class="col-md-3 summary-items">
          <p>
            <h5>AUTOSAFE <i class="fa fa-compress compress" aria-hidden="true"></i></h5>
            <span class="col-md-12 summary-items-sub">Turnover <span class="summary-item-value">0.00</span></span>
            <span class="col-md-12 summary-items-sub">Volume <span class="summary-item-value">0.00</span></span>
            <span class="col-md-12 summary-items-sub">Weighted Avg BRANCH Price <span class="col-md-12 summary-item-value">0.00</span></span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--Table information -->

  <div class="table-info">

    <!-- products -->
    <div class="col-md-5">
      <h3 class="table-title">Products</h3>
      <div class="section">
        <div class="section-body">
          <div class="product-section">
            <p class="product-name"> Real People</p>
            <p>
              <div class="product-account">Account No: 12345</div>
              <div class="product-code">Product: VAF</div>
            </p>
          </div>
          <div class="product-table-container">
            <table class="table table-bordered table-hover header-fixed table-striped ">
              <thead>
                <tr>
                  <th>Cash Table No</th>
                  <th>BP ID</th>
                  <th>Volume</th>
                  <th>Loaded Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="rightAlign">45</td>
                  <td class="rightAlign">343</td>
                  <td class="rightAlign">150,000.000</td>
                  <td>R7 + 0.45</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- concessions -->

  <div class="col-md-7 concessions">
    <div class="concessions-top">
      <div class="concessions-top-title">
        <h3 class="table-title">Concessions</h3>
        <button type="button" class="btn btn-default" onclick="location.href='add-concession.html'">Add Concession</button>
      </div>
      <!-- Search bar -->
      <div class="search-and-results-container">
        <div class="input-group add-on">
          <input class="form-control" placeholder="Search Concession ID or Risk Group Number" name="srch-term" id="srch-term" type="text">
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section-header small-table-title">
        <div class="concessionID-section"> 124</div>
      </div>
      <div class="section-body">
        <div class="table-container">
          <table class="table table-bordered table-hover header-fixed table-striped">
            <thead>
              <tr>
                <th>Customer</th>
                <th>Cash Table</th>
                <th>BP ID</th>
                <th>Volume</th>
                <th>Value</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
            <td>
              <div class="table-row-top">Tester Inc.</div>
              <div class="table-row-bottom">
                <div class="secondaryText">
                  Acc No:
                  <div class="normalText">12345</div>
                </div>
              </div>
            </td>
            <td class="rightAlign">45</td>
            <td class="rightAlign">343</td>
            <td>230</td>
            <td>150,000.00</td>
            <td>
              <div class="table-row-top">
                <div class="secondaryText">
                  Loaded:
                  <div class="normalText">R7 + 0.45</div>
                </div>
              </div>
              <div class="table-row-bottom">
                <div class="secondaryText">
                  Approved:
                  <div class="normalText">R7 + 0.45</div>
                </div>
              </div>
            </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- avg balance -->

    <div class="section">
      <div class="section-header">
        <div class="concessionID-section"> ED0023</div>
      </div>
      <div class="section-body">
        <div class="table-container">
          <table class="table table-bordered table-hover header-fixed table-striped">
            <thead>
              <tr>
                <th>Customer</th>
                <th>Limit</th>
                <th>Average Balance</th>
                <th>Term</th>
                <th>MAP</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="table-row-top">Tester Inc.</div>
                  <div class="table-row-bottom">
                    <div class="secondaryText">
                      Acc No:
                      <div class="normalText">12345</div>
                    </div>
                  </div>
                </td>
                <td>5,000,000.00</td>
                <td>3,999,987.00</td>
                <td>60</td>
                <td>
                  <div class="table-row-top">
                    <div class="secondaryText">
                      Loaded:
                      <div class="normalText">1</div>
                    </div>
                  </div>
                  <div class="table-row-bottom">
                    <div class="secondaryText">
                      Approved:
                      <div class="normalText">1</div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>