.footer-buttons {
    padding-top: 10px;
    clear: both;

    .float-right {
        float: right;

        button {
            margin-left: 10px;
        }
    }
}

.btn-concession {
    float: right;
    margin-top: 15px;
    width: 150px
}

.btn-delete {
    background: none;
    border: none;
    font-size: 0.9em;
    padding: 0;

    &:hover {
        color: $lightGray;
        font-size: 1em;
    }
}    



//overriding default bootstrap buttons      
     .pagination{
       float: right;
       margin: 10px 0;
      }
     .btn-no{
            background-color: $buttonNo;
            box-shadow: 1px 2px 1px $darkGray; 
            color: white;
            width: 75px;

            &:hover{
                background: $buttonNoHover;
            }
     }
     .btn-yes{
            background-color: $buttonYes;
            box-shadow: 1px 2px 1px $darkGray; 
            color: $white;
            width: 75px;
            
            &:hover{
                background: $buttonYesHover;
            }
     }
.btn-print {
    background-color: $standardBankBlue;
    color: white;
    box-shadow: 1px 2px 1px $standardBankBlue;
    padding: 5px 10px;

    &:hover {
        color: white;
    }

    &:focus {
        color: white;
        background: $standardBankBlue;
    }
}
.concessionBtn {
    background: $standardBankBlue;
    box-shadow: 1px 2px 1px $standardBankBlue;
    float: right;

    &:hover {
        color: white;
        background: $standardBankBlueHover;
    }

    &:focus {
        color: $white;
        background: $standardBankBlue;
    }
}

.btn-default-search {
    background: $standardBankBlue;
    color: $white;

    &:hover {
        background: $standardBankBlueHover;
        color: white;
    }

    &:focus {
        color: white;
        background: $standardBankBlue;
    }
}

.btn-default {
    background: $standardBankBlue;
    color: white;
    box-shadow: 1px 2px 1px $standardBankBlue;
    padding: 5px 0px;
    min-width: 145px;
    border: none;

    &:hover {
        background-color: $standardBankBlueHover;
        color: white;
    }

    &:active {
        background: $standardBankBlueHover;
        color: white;
    }

    &:focus {
        background: $standardBankBlueHover;
        color: white;
    }

    &:active:hover {
        background: $standardBankBlueHover;
        color: white;
    }
}

