
//overriding default bootstrap buttons      
     .pagination{
       float: right;
       margin: 10px 0;
      }
     .btn-no{
            background-color: $buttonNo;
            box-shadow: 1px 2px 1px $darkGray; 
            color: white;
            width: 75px;

            &:hover{
                background: $buttonNoHover;
            }
     }
     .btn-yes{
            background-color: $buttonYes;
            box-shadow: 1px 2px 1px $darkGray; 
            color: $white;
            width: 75px;
            
            &:hover{
                background: $buttonYesHover;
            }
     }
.btn-print {
    background-color: $standardBankBlue;
    color: white;
    box-shadow: 1px 2px 1px $standardBankBlue;
    padding: 5px 10px;

    &:hover {
        color: white;
    }

    &:focus {
        color: white;
        background: $standardBankBlue;
    }
}
.concessionBtn {
    background: $standardBankBlue;
    box-shadow: 1px 2px 1px $standardBankBlue;
    float: right;

    &:hover {
        color: white;
        background: $standardBankBlueHover;
    }

    &:focus {
        color: $white;
        background: $standardBankBlue;
    }
}

.btn-default-search {
    background: $standardBankBlue;
    color: $white;

    &:hover {
        background: $standardBankBlueHover;
        color: white;
    }

    &:focus {
        color: white;
        background: $standardBankBlue;
    }
}

.btn-submit {
    background: $standardBankBlue;
    color: white;
    box-shadow: 1px 2px 1px $standardBankBlue;
    padding: 5px 30px;
    min-width: 75px;

    &:hover {
        background: $standardBankBlueHover;
        color: white;
    }

    &:focus {
        color: white;
        background: $standardBankBlue;
    }
}

     .btn-cancel{
       min-width: 75px;
       padding: 5px 30px;
       background: $bodyBackground;
       box-shadow: 0px 2px 5px ;

       &:hover{
            background: $grayTint;
       }
     }

.btn-default {
    background: $standardBankBlue;
    color: white;
    box-shadow: 1px 2px 1px $standardBankBlue;
    padding: 5px 0px;
    min-width: 145px;
    border: none;

    &:hover {
        background-color: $standardBankBlueHover;
        color: white;
    }

    &:active {
        background: $standardBankBlueHover;
        color: white;
    }

    &:focus {
        background: $standardBankBlueHover;
        color: white;
    }

    &:active:hover {
        background: $standardBankBlueHover;
        color: white;
    }
}
     