.footer-buttons {
    padding-top: 10px;
    clear: both;

    .float-right {
        float: right;

        button {
            margin-left: 10px;
        }
    }
}

.btn-concession {
    float: right;
    width: 150px
}

.btn-archive {
    padding: 6px 12px !important;
}

.btn-delete {
    background: none;
    border: none;
    font-size: 1.6em;
    padding: 0;

    &:hover {
        color: $lightGray;
    }
}    

//overriding default bootstrap buttons      
     .pagination{
       float: right;
       margin: 10px 0;
      }
     .btn-no{
            background-color: $buttonNo;
            box-shadow: 1px 2px 1px $darkGray; 
            color: white;
            width: 75px;

            &:hover{
                background: $buttonNoHover;
                color: #fff;
            }
     }
     .btn-yes{
            background-color: $buttonYes;
            box-shadow: 1px 2px 1px $darkGray; 
            color: $white;
            width: 75px;
            
            &:hover{
                background: $buttonYesHover;
                color: #fff;
            }
     }
.btn-print {
    background-color: $standardBankBlue;
    color: white;
    box-shadow: 1px 2px 1px $standardBankBlue;
    padding: 5px 10px;

    &:hover {
        color: white;
    }

    &:focus {
        color: white;
        background: $standardBankBlue;
    }
}

.btn-default-search {
    background: $standardBankBlue;
    color: $white;

    &:hover {
        background: $standardBankBlueHover;
        color: white;
    }

    &:focus {
        color: white;
        background: $standardBankBlue;
    }
}
