.lending-bottom-buttons{
    padding-bottom: 20px;
    position: relative;
    bottom: 0;

    .float-right{
        float: right;
        button{
            margin-left: 15px;
        }
    }
}

.large-input{
    height: 95px;
}


label, th{
    color: $darkGrayText;
    font-weight: normal;
}