.pricing-banner {
    background-color: $tableHeaderColour !important;
    padding: 10px 0;

    .pricing-user-image {
        display: inline-block;
        color: $white;
        font-size: 50px;
    }
}

.padding-div {
    padding: 10px;
}

.pricing-form {
    color: white !important;
}

.pricing-group-container {
    text-align: center;
    margin-top:  30px;

    .pricing-group-info {

        h3 {
            font-weight: bold;
            font-size: 1.3em;
            margin: 5px 0 0 0;
        }

        .secondaryText {
            color: $secondaryText;
            font-size: 1.15em;
            margin: 0;
        }
    }

    .pricing-icon {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: $standardBankBlue;
        padding: 10px;
        text-align: center;
        margin: -20px auto 0 auto;

        i {
            color: white;
            font-size: 1.5em;
            margin-top: 5px;
        }
    }
}

.product-item {
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px $lightGray;
    padding: 5px;
    margin-bottom: 5px;
    overflow: hidden;

    &:hover {
        background-color: $tableRowHover;
        cursor: pointer
    }

    .container-item-icon {
        background-color: $bannerBackground;
        border: 2px solid $lightGray;
        width: 45px;
        height: 45px;
        border-radius: 25px;
        border: 1px solid $white;
        padding-top: 14px;
        float: right;
        margin-right: 15px;

        i {
            display: block;
            text-align: center;
            font-size: 1.3em;
            color: white;
        }
    }

    .product-heading {
        padding: 10px 0 0 10px;
    }
}
