.banner {
    background: $bannerBackground;
    margin-bottom: 15px;

    .banner-container {
        background: $bannerBackground;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;

        .subHeading {
            font-size: 1.2em;
            font-weight: bold;
        }

        .score {
            font-size: 1.9em;
        }
    }
}

.product-form {
    margin-bottom: 15px;
}

.form-feedback-container {
    margin: -15px 0 15px 0;

    .message-heading {
        font-weight: bold;
        font-size: 1.2em;
        margin: 10px 0 5px 15px;

        i {
            margin-right: 10px;
        }
    }

    .alert-danger {
        border: 1px solid $validationRed;
    }

    .alert-success {
        border: 1px solid $validationGreen;
    }

    .alert-info {
        border: 1px solid $loadingBlue;
    }
}


    .modal-dialog {


        .modal-header {
            background: $standardBankBlue;
            color: $white;

            h4 {
                margin: 0;
            }
        }

        .modal-title {
            padding-bottom: 15px;
        }

        .modal-body {
            .form-concessions-table-content tr {
                td {
                    padding-right: 10px;
                    height: 25px;
                }

                .length-long {
                    width: 20%;
                }

                .length-medium {
                    width: 9.5%;
                }

                .delete {
                    width: 2%;
                }
            }
        }
    }

