.banner {
    background: $bannerBackground;
    margin-bottom: 15px;

    .banner-container {
        background: $bannerBackground;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;

        .subHeading {
            font-size: 1.2em;
            font-weight: bold;
        }

        .score {
            font-size: 1.9em;
        }
    }
}

.product-form {
    margin-bottom: 15px;
}


    .modal-dialog {
        margin: 10%;
        width: 80%;
        background: $bodyBackground;

        .modal-header {
            background: $standardBankBlue;
            color: $white;

            h4 {
                margin: 0;
            }
        }

        .modal-title {
            padding-bottom: 15px;
        }

        .modal-body {
            .form-concessions-table-content tr {
                td {
                    padding-right: 10px;
                    height: 25px;
                }

                .length-long {
                    width: 20%;
                }

                .length-medium {
                    width: 9.5%;
                }

                .delete {
                    width: 2%;
                }
            }
        }
    }

