.search-container{
     padding-top: 20px;  
     margin-left:10px;
    .form-horizontal
    {  
        background-color: $white;
        padding-top: 20px;
        color:gray;
        
    }
}

.searchEmptyState {
    text-align: center;
    padding:100px;
    color: $darkGray;
    vertical-align: middle;

    i{
        font-size: 2em;
        color: $lightGray;
    }

    div{
        display: inline;
        margin: 0;
        padding: 5px 0;
    }
}