$standardBankBlue: #18326f;

$defaultText: #2a2a2a;
$secondaryText: #7a7a7a;

$tableRowHover: #e0eaee;

$lightGray: #adadad;
$darkGray: rgba(63,63,63,1);


$standardBankBlueHover: rgba(24,50,111,0.75);

$secondaryText: #757575;
$navText:#757575;
$white:white;
$buttonNo: rgba(150,0,17,1);
$buttonNoHover: rgba(150,0,17,0.75);
$buttonYes: rgba(63,110,0,1);
$buttonYesHover: rgba(63,110,0,0.75);
$validationRed:#c03343;
$validationGreen:#739c3c;
$loadingBlue: #006892;
$warningYellow: #f3ce04;

$validationYellow: #efad1e;
$tableHeaderColour: #006892;
$tableHeaderColourHover: rgba(0,104,146,0.75);
$bannerBackground:#006892;
$selectedItem:#2F91FF;
$unselectedItem: #9C9C9C;
$black:black;
$green:green;
$pricingView:#1f84ad;
$bannerTitle: #3386a8;
$cashProductTableHead: #bababa;
$grayTint: #fafafa;
$pricingIconBlue: #1d71d3;
$borderGray: rgba(227,233,233,1);
$buttonBlue: rgba(30,60,144,1);
$buttonBorderGray: rgba(187,187,187,1);
$bodyBackground: rgba(237,237,237,1);
$tableSelect: rgba(24,50,111,0.2);
$tableRowGray: rgba(249,249,249,1);

$lightGrayText: rgba(237,237,237,1);
$darkGrayText: rgba(120,120,120,1);