
.totalsWidget {
    float: left;
    margin-top: 10px;

    &:hover {
        cursor: pointer;

        .cornered {
            border-bottom: 20px solid $tableRowHover;
        }

        .main {
            background: $tableRowHover;

        }
    }

    .activeWidget {
        .cornered {
            border-bottom: 20px solid $standardBankBlue;
            color: $grayTint;
        }

        .main {
            background: $standardBankBlue;

            p {
                color: $white;
            }
        }
    }
}


.outer {   
    font-size: x-small;
    .cornered {
        width: 150px;
        height: 0px;
        color: $standardBankBlue;
        font-size:15px;
        text-align:left;
        padding-left: 10px;
        margin-top: 5px;
        border-bottom: 20px solid $white;
        border-right: 20px solid transparent;
        border-top-left-radius: 3px;
        p {
            padding-top: 5px;
        }

    }
    .main {
        width: 150px;
        height: 50px;        
        text-align: left;
        background-color: $white;
        padding: 0 8px;
        box-shadow: 1px 2px 1px #a5a5a5;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        p {
            font-size:2.9em;
            padding:7px 0 0 2px;
            color: #494949; 
            font-weight: bold;
        }
    }
   
}

.customerName {
    margin: 0;
    padding: 0;
}

.date {
    margin: 0;
    padding: 0;
   
}
.accInfo{
     margin: 0;
     padding: 0;
     color: $secondaryText;
     font-size:1.1em;
}
.mapInfo{
     margin: 0;
     padding: 0;
     color: $secondaryText;
     font-size:1.1em;
}
.customerInfo{
    margin: 0;
    padding: 0; 
    font-size:1em; 
}

.filter-group {
    padding-bottom: 30px;
    .control-label{
       width:3%;
       color: $darkGray;
       padding: 7px;
    }
}

#filter{
    vertical-align: middle;
}

