<div class="col-md-12 header">
  <div class="logo"></div>
</div>
<div class="col-md-12 nav-pills-container">
  <ul class="nav nav-pills">
    <li routerLinkActive="selected-nav-item"><a routerLink="/pending-inbox">Inbox</a></li>
    <li routerLinkActive="selected-nav-item"><a routerLink="/approved-concessions">Approved Concessions</a></li>
    <li routerLinkActive="selected-nav-item"><a routerLink="/conditions">Conditions</a></li>
    <li routerLinkActive="selected-nav-item"><a routerLink="/pricing">Pricing</a></li>
    <li class="logout-li"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
  </ul>
</div> 