<div class="header">
    <div class="logo-mark"></div>
    <div class="logo-text">Concession Management</div>
</div>


<div class="row">
    <!-- Error message -->
    <div class="col-md-12" *ngIf="usererrorMessage">
        <div class="form-feedback-container" style="margin:0px;">
            <div class="alert-warning">
                <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Error occurred. Please see error(s) below.</p>
                <p>{{usererrorMessage}}</p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 nav-pills-container">
    <ul class="nav nav-pills">
        <li routerLinkActive="selected-nav-item">
            <a routerLink="/pending-inbox">Inbox</a>
            <!-- The following are here so that the router link active class is enabled for any of the inbox routes-->
            <a routerLink="/due-expiry-inbox" style="display: none;">Inbox</a>
            <a routerLink="/expired-inbox" style="display: none;">Inbox</a>
            <a routerLink="/mismatched-inbox" style="display: none;">Inbox</a>
            <a routerLink="/declined-inbox" style="display: none;">Inbox</a>
        </li>
        <li routerLinkActive="selected-nav-item" *ngIf="user?.canRequest"><a routerLink="/approved-concessions">Approved Concessions</a></li>
        <li routerLinkActive="selected-nav-item" *ngIf="user?.canRequest"><a routerLink="/conditions">Conditions</a></li>
        <li routerLinkActive="selected-nav-item" *ngIf="user?.isPCM || user?.isHO"><a routerLink="/search">Search</a></li>
        <li routerLinkActive="selected-nav-item">
            <a routerLink="/pricing">Pricing</a>
            <!-- The following are here so that the router link active class is enabled for any of the pricing routes-->
            <a routerLink="/pricing-cash" style="display: none;">Pricing</a>
            <a routerLink="/pricing-lending" style="display: none;">Pricing</a>
            <a routerLink="/pricing-transactional" style="display: none;">Pricing</a>
            <a routerLink="/pricing-bol" style="display: none;">Pricing</a>
            <a routerLink="/lending-view-concession" style="display: none;">Pricing</a>
            <a routerLink="/cash-view-concession" style="display: none;">Pricing</a>
            <a routerLink="/transactional-view-concession" style="display: none;">Pricing</a>
            <a routerLink="/cash-add-concession" style="display: none;">Pricing</a>
            <a routerLink="/lending-add-concession" style="display: none;">Pricing</a>
            <a routerLink="/transactional-add-concession" style="display: none;">Pricing</a>
        </li>
        <li routerLinkActive="selected-nav-item">
            <a routerLink="/admin">Administration</a>
            <!-- The following are here so that the router link active class is enabled for any of the inbox routes-->
            <a routerLink="/admin/users" style="display: none;">Administration</a>
            <a routerLink="/admin/business-centre" style="display: none;">Administration</a>
            <a routerLink="/admin/users/edit-user" style="display: none;">Administration</a>
        </li>
        <li>
            <a href="/assets/documents/userguide.pdf" target="_blank">User Guide</a>
        </li>
        <li class="logout-li"><a href="#">{{user?.firstName}} {{user?.surname}}</a></li>
    </ul>
</div>
