<div class="col-md-12 header">
  <div class="logo"></div>
</div>
<div class="col-md-12 nav-pills-container">
  <ul class="nav nav-pills">
    <li class="selected-nav-item"><a href="pending-inbox.html">Inbox</a></li>
    <li><a href="approved-concessions.html">Approved Concessions</a></li>
    <li><a href="conditions.html">Conditions</a></li>
    <li><a href="pricing.html">Pricing</a></li>
    <li class="logout-li"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
  </ul>
</div> 