<div class="col-md-12">
    <h3>User Management</h3>
    <ul>
        <li *ngIf="user?.isHO"><a routerLink="/admin/users">Users</a></li>
        <li *ngIf="user?.isHO"><a routerLink="/admin/regions">Regions</a></li>
        <li *ngIf="user?.isHO || user?.isPCM"><a routerLink="/admin/business-centre">Business Centres</a></li>
    </ul>
    <!--
    <h3>Product Management</h3>
    <ul>
        
        <li><a routerLink="#">BOL Charge Code Descriptions</a></li>
        <li><a routerLink="#">Trade Transaction Types</a></li>
        <li><a routerLink="#">Cashman Product Types</a></li>
        <li><a routerLink="#">Lending Product Types</a></li>
        <li><a routerLink="#">Transactional Product Types</a></li>
    </ul>
    -->
</div>
