<div class="col-md-12">
    <h3>User Management</h3>
    <ul>
        <li *ngIf="user?.isHO"><a routerLink="/admin/users">Users</a></li>
        <li *ngIf="user?.isHO"><a routerLink="/admin/regions">Regions</a></li>
        <li *ngIf="user?.isHO || user?.isPCM || user?.isBCM"><a routerLink="/admin/business-centre">Business Centres</a></li>

        <li *ngIf="user?.isHO || user?.isRequestor"><a routerLink="/admin/aa-management">AA/ PM Management</a></li>
        <li *ngIf="user?.isHO || user?.isBCM || user?.isRequestor"><a routerLink="/admin/ae-management">RM / AE / BM Management</a></li>
        <li *ngIf="user?.isHO || user?.isPCM"><a routerLink="/admin/bcm-management">Suite Head / BCM / Area Manager Management</a></li>
        <li *ngIf="user?.isHO"><a routerLink="/admin/pcm-management">PCM Management</a></li>
    </ul>
    
    <h3 *ngIf="user?.isHO">Product Management</h3>
    <ul *ngIf="user?.isHO">

        <li><a routerLink="/admin/bol-chargecodes">BOL Charge Code Descriptions</a></li>
        <li><a routerLink="/admin/transaction-types">Transactional Tariff tables/ Transaction types</a></li>
        <li><a routerLink="/admin/channel-types">Cash Tariff tables</a></li>

    </ul>
    
</div>
