<div class="col-md-12">
    <h3>User Management</h3>
    <ul>
        <li><a routerLink="/users">Users</a></li>
        <!--
        <li><a routerLink="#">Roles</a></li>
        <li><a routerLink="/province">Provinces</a></li>
        <li><a routerLink="/business-centre">Business Centres</a></li>
        -->
    </ul>
    <!--
    <h3>Product Management</h3>
    <ul>
        
        <li><a routerLink="#">BOL Charge Code Descriptions</a></li>
        <li><a routerLink="#">Trade Transaction Types</a></li>
        <li><a routerLink="#">Cashman Product Types</a></li>
        <li><a routerLink="#">Lending Product Types</a></li>
        <li><a routerLink="#">Transactional Product Types</a></li>
    </ul>
    -->
</div>
