<div class="col-md-2" style="margin-top: 15px;">
    <i class="fa fa-chevron-circle-left" aria-hidden="true" style="font-size: 1.1em;"></i>
    <span class="back-button-text" style="font-size: 1.1em;" (click)="goBack()">Administration</span>
</div>

<div class="col-md-12">
    <h3>PCM Management</h3>
</div>

<!-- Error message -->
<div class="col-md-12" *ngIf="(errorMessage || validationError) && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-danger">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Error occurred. Please see error(s) below.</p>
            <p>{{errorMessage}}</p>

            <ul *ngIf="validationError">
                <li *ngFor="let validationMessage of validationError">{{validationMessage}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Success message -->
<div class="col-md-12" *ngIf="saveMessage && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-success">
            <p class="message-heading"><i class="fa fa-check-circle" aria-hidden="true"></i>{{saveMessage}}</p>
        </div>
    </div>
</div>

<!-- Loading message -->
<div class="col-md-12" *ngIf="isLoading">
    <div class="form-feedback-container">
        <div class="alert-info">
            <p class="message-heading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>Loading</p>
        </div>
    </div>
</div>

<div class="col-md-12 search-and-results-container" *ngIf="!isLoading">
    <!-- Input form -->
    <div class="form-inline">
        <button class="btn btn-primary" type="button" (click)="addPCM()">Add PCM</button>
    </div>

    <!-- Results table -->
    <div class="table-container">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>A Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let pcmUser of pcmUsers; trackBy: index' (click)="editPcm(pcmUser)">
                    <td>{{pcmUser.id}}</td>
                    <td>{{pcmUser.fullName}}</td>
                    <td>{{pcmUser.aNumber}}</td>
                    <td>{{pcmUser.emailAddress}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div bsModal #addPCMModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addBusinessCentreModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="col-md-12 modal-header">
                    <h4>
                        {{actionType}} PCM
                    </h4>
                </div>

                <div class="row">

                    <!-- Left side -->
                    <div class="col-md-6 modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">A Number</label>
                            <div class="col-sm-8">
                                <input type="text" required class="form-control" name="7" [(ngModel)]="addPcmUserModel.aNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Name</label>
                            <div class="col-sm-8">
                                <input type="text" required class="form-control" name="6" [(ngModel)]="addPcmUserModel.firstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Surname</label>
                            <div class="col-sm-8">
                                <input type="text" required class="form-control" name="5" [(ngModel)]="addPcmUserModel.surname">
                            </div>
                        </div>
                    </div>

                    <!-- Right side -->
                    <div class="col-md-6 modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Email</label>
                            <div class="col-sm-8">
                                <input type="email" required class="form-control" name="4" [(ngModel)]="addPcmUserModel.emailAddress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Contact Number</label>
                            <div class="col-sm-8">
                                <input type="tel" required class="form-control" name="8" [(ngModel)]="addPcmUserModel.contactNumber">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3" for="email">Can Approve</label>
                            <div class="col-sm-8">
                                <input type="checkbox" class="form-control" name="8" [(ngModel)]="addPcmUserModel.canApprove">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3" for="email">Is Active</label>
                            <div class="col-sm-8">
                                <input type="checkbox" class="form-control" name="8" [(ngModel)]="addPcmUserModel.isActive">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Region</label>
                            <div class="col-sm-8">
                                <select [(ngModel)]="selectedRegionCentresModel" name="3" class="form-control">
                                    <option *ngFor="let regionCentresModel of regionCentresModels" [ngValue]="regionCentresModel">
                                        {{regionCentresModel.regionName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Business Centre</label>
                            <div class="col-sm-8">
                                <select [(ngModel)]="selectedCentre" name="3" class="form-control">
                                    <option *ngFor="let centre of selectedRegionCentresModel.centres" [ngValue]="centre">
                                        {{centre.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 modal-body">
                        <button class="btn btn-primary" (click)="addUserCentre()">Add</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 modal-body">
                        <div class="form-group">
                            <div class="table-container">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Region</th>
                                        <th>Name</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngIf="isPcmBcmsLoading">
                                        <td colspan="4">Loading...</td>
                                    </tr>
                                    <tr *ngFor='let userCentre of addPcmUserModel.userCentres; trackBy: index; let i=index'>
                                        <td>{{userCentre.region}}</td>
                                        <td>{{userCentre.name}}</td>
                                        <td><button class="btn-delete" type="button" (click)="removeUserCentre(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="float-right">
                        <button type="button" class="btn btn-cancel" (click)="addPCMModal.hide()">Close</button>
                        <button type="button" class="btn btn-primary" (click)="savePCM()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
