<!-- Banner expanded -->
<div class="col-md-12 banner">
    <div class="row">
        <div class="lending-banner-title">
            <div class="col-md-1">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                <span class="back-button-text" (click)="goBack()">Back</span>
            </div>
            <div class="col-md-10 banner-main-title">
                <i class="fa fa-calculator" aria-hidden="true"></i> Merchant Acquiring
            </div>
            <div class="col-md-1"></div>
        </div>
        <!-- Dashboard Expanded -->
        <div class="col-md-12 banner-container">
            <div class="col-md-11">
                <div class="col-md-5">
                    <div class="subHeading">Risk Group Name //TODO</div>
                    <div class="date lightTitle hidden-element">Risk Group Number //TODO</div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6 hidden-element">
                        <div class="subHeading lightTitle">Total Credit Turnover</div>
                        <div class="score"><b>//TODO</b></div>
                    </div>
                    <div class="col-md-6 hidden-element">
                        <div class="subHeading lightTitle">Weighted AVG Price (TCT)</div>
                        <div class="score"><b>//TODO</b></div>
                    </div>
                    <div class="col-md-6 hidden-element">
                        <div class="subHeading lightTitle">Total Debit Turnover</div>
                        <div class="score"><b>//TODO</b></div>
                    </div>
                    <div class="col-md-6 hidden-element">
                        <div class="subHeading lightTitle">Weighted AVG Price (TDT)</div>
                        <div class="score"><b>//TODO</b></div>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-md-1">
                <div class="compress">
                    <div onclick="hideElement('hidden-element')">
                        <i class="fa fa-compress" aria-hidden="true" id="compress-icon"></i>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>

<!-- Error message -->
<div class="col-md-12" *ngIf="(errorMessage || validationError) && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-danger">
            <p class="message-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Error occurred. Please see error(s) below.</p>
            <p>{{errorMessage}}</p>

            <ul *ngIf="validationError">
                <li *ngFor="let validationMessage of validationError">{{validationMessage}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Success message -->
<div class="col-md-12" *ngIf="saveMessage && !isLoading">
    <div class="form-feedback-container">
        <div class="alert-success">
            <p class="message-heading"><i class="fa fa-check-circle" aria-hidden="true"></i>Concession submitted successfully with ID: {{saveMessage}}</p>
        </div>
    </div>
</div>

<!-- Loading message -->
<div class="col-md-12" *ngIf="isLoading">
    <div class="form-feedback-container">
        <div class="alert-info">
            <p class="message-heading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>Saving</p>
        </div>
    </div>
</div>

<!-- Form entries -->
<form class="col-md-12 product-form" [formGroup]="masConcessionForm" *ngIf="!isLoading">
    <div class="col-md-4">
        <div class="row">
            <label>MRS/CRS</label>
            <input class="form-control" formControlName="mrsCrs" type="number" />
        </div>
        <div class="row">
            <label>SMT Deal Number</label>
            <input class="form-control" formControlName="smtDealNumber" maxlength="16" />
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
        <label>Motivation</label>
        <textarea class="form-control large-input" maxlength="800" formControlName="motivation"></textarea>
    </div>

    <!-- Concession table -->
    <div class="col-md-12" style="border-bottom: 1px solid gray; margin-bottom: 15px;">
        <div class="row">
            <h3 class="table-title">Concessions</h3>
            <button type="button" class="btn btn-primary btn-concession" (click)="addNewConcessionRow()" style="margin-top: 15px;" *ngIf="!saveMessage">New Concession</button>
        </div>
    </div>
    <div class="col-md-12 row">
        <table class="form-concessions-table" formArrayName="concessionItemRows">
            <thead class="form-concessions-table-headings">
                <tr>
                    <th>Product Type</th>
                    <th>Merchant Number</th>
                    <th>Average Ticket Value</th>
                    <th>Turnover</th>
                    <th>Commission Rate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="form-concessions-table-content">
                <!-- Loop through concessions here -->
                <tr *ngFor="let itemrow of masConcessionForm.controls.concessionItemRows.controls; let i=index" [formGroupName]="i">
                    <td class="length-long">
                        <select formControlName="product" class="form-control"></select>
                    </td>
                    <td class="length-long"><input formControlName="merchantNumber" class="form-control" /></td>
                    <td class="length-long"><input formControlName="avgTicketValue" class="form-control" /></td>
                    <td class="length-short"><input formControlName="turnover" class="form-control" /></td>
                    <td class="length-short"><input formControlName="commissionRate" class="form-control" /></td>
                    <td><button *ngIf="masConcessionForm.controls.concessionItemRows.controls.length > 1 && !saveMessage" (click)="deleteConcessionRow(i)" class="btn-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Conditions table -->
    <div class="col-md-12">
        <div class="row">
            <h3 class="table-title">Conditions</h3>
            <button type="button" class="btn btn-primary btn-concession" (click)="manageConditionsModal.show()" style="margin-top: 15px;" *ngIf="!saveMessage">Manage Conditions</button>

            <div class="table-container">
                <table class="table table-bordered table-hover header-fixed table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Condition Type</th>
                            <th>Condition Value</th>
                            <th>Condition Volume</th>
                            <th>Product</th>
                            <th>MAP / Rate (If Applicable)</th>
                        </tr>
                    </thead>
                    <tbody class="secondary-text">
                        <tr *ngIf="masConcessionForm.controls.conditionItemsRows.controls.length == 0">
                            <td colspan="7" class="searchEmptyState">
                                No conditions has been added
                            </td>
                        </tr>
                        <!-- Loop through concessions here -->
                        <tr>
                            <td>//TODO</td>
                            <td>//TODO</td>
                            <td>//TODO</td>
                            <td>//TODO</td>
                            <td>//TODO</td>
                            <td>//TODO</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Modal conditions -->
    <div bsModal #manageConditionsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="manageConditionsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="col-md-12 modal-header">
                    <h4>Manage Conditions</h4>
                </div>
                <div class="col-md-12 modal-body">
                    <div class="row">
                        <div class="col-md-12 modal-title">
                            <button type="button" class="btn btn-primary" (click)="addNewConditionRow()">New Conditions</button>
                        </div>
                    </div>
                    <table class="form-concessions-table" formArrayName="conditionItemsRows" style="width:100%">
                        <thead class="form-concessions-table-headings">
                            <tr *ngIf="masConcessionForm.controls.conditionItemsRows.controls.length > 0">
                                <th>Condition Type</th>
                                <th>Product Type</th>
                                <th>Interest Rate</th>
                                <th>Volume</th>
                                <th>Value</th>
                                <th>Period Type</th>
                                <th>Period</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="form-concessions-table-content">
                            <tr *ngIf="masConcessionForm.controls.conditionItemsRows.controls.length == 0">
                                <td colspan="7" class="searchEmptyState">
                                    No conditions has been added
                                </td>
                            </tr>
                            <tr *ngFor="let itemrow of masConcessionForm.controls.conditionItemsRows.controls; let i=index" [formGroupName]="i">
                                <td class="length-long">
                                    <select formControlName="conditionType" (change)="conditionTypeChanged(i)">
                                        <option *ngFor="let conditionTypeOption of conditionTypes" [ngValue]="conditionTypeOption">{{conditionTypeOption.description}}</option>
                                    </select>
                                </td>
                                <td class="length-long">
                                    <select formControlName="conditionProduct" *ngIf="selectedConditionTypes[i] != null">
                                        <option *ngFor="let conditionProductOption of selectedConditionTypes[i].conditionProducts" [ngValue]="conditionProductOption">{{conditionProductOption.description}}</option>
                                    </select>
                                </td>
                                <td class="length-medium"><input formControlName="interestRate" /></td>
                                <td class="length-long"><input formControlName="volume" /></td>
                                <td class="length-medium"><input formControlName="value" /></td>
                                <td class="length-medium">
                                    <select formControlName="periodType">
                                        <option *ngFor="let periodTypeOption of periodTypes" [ngValue]="periodTypeOption">{{periodTypeOption.description}}</option>
                                    </select>
                                </td>
                                <td class="length-medium">
                                    <select formControlName="period">
                                        <option *ngFor="let periodOption of periods" [ngValue]="periodOption">{{periodOption.description}}</option>
                                    </select>
                                </td>
                                <td><button class="btn-delete" type="button" (click)="deleteConditionRow(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="button" class="btn btn-primary" (click)="manageConditionsModal.hide()">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Form buttons -->
    <div class="footer-buttons">
        <div class="float-right">
            <button type="button" class="btn btn-cancel" [routerLink]="['/pricing-investments', riskGroup.number]">Close</button>
            <button class="btn btn-primary" type="button" (click)="onSubmit()" *ngIf="!saveMessage">Submit</button>
        </div>
    </div>

</form>

<!--<pre>{{masConcessionForm.value | json}}</pre>-->
